<div class="transparent-background">
	<div class="body-wrapper">
		<h1 class="center nunito700 darkblue"> Messages </h1>
		<!--We should determine what else we want to display here like names or whatever-->
		<% if @conversations.length > 0%>
			<ul class="nav nav-list">
				<%@conversations.each do |conversation|%>
					<li>
					<%if conversation.last_message.sender == current_user%>
						You
					<%else%>
						<%=conversation.last_message.sender.fullName%>
					<%end%>
					sent at <%=conversation.last_message.created_at.strftime("%I:%M %p")%>:
					<br />
					<b><%= conversation.last_message.body%></b>
					<%= render :partial => "message", :locals => {:cID => conversation.id}%>
					<div style="margin-top:1%"><button class="btn btn-info" data-toggle="modal" data-target="#message-modal-<%=conversation.id.to_s%>" href = "#message-modal-<%=conversation.id.to_s%>">Reply</button></div>
					</li>
					<li class="divider"></li>
				<%end%>
			</ul>
		<%else%>
			No messages. Visit the profile of the user and send him a message.
		<%end%>
		
	</div>
</div>