<div class="transparent-background">
	<div class="body-wrapper">
	<h1>Edit Profile</h1>

	<h4 style="padding-top:3%;">Profile Picture:</h4>
	<%= form_for @user, :url => profiles_path, :html => { :multipart => true } do |f| %>
		<div><%= f.file_field (:picture) %></div>
		<div style="margin-bottom: 15px;">
			<h4>Age:</h4> 
			<%= f.select :age, (0..100)%>
		</div>
		<h4 style="margin-top:15px;">Tell others about yourself:</h4>
		<div><%= f.text_area :blurb, :style => "width:100%" %></div>
		<div><%= f.submit "Submit", :class => "btn btn-inverse" %></div>
		<% end %>
	</div>
</div>


	

