<div class="transparent-background">
	<div class="body-wrapper">
	<h1>Edit Profile</h1>

	<h4 style="padding-top:1%;">Profile Picture:</h4>
	<%= form_for @user, :url => profiles_path, :html => { :multipart => true } do |f| %>
		<div><%= f.file_field (:picture) %></div>
		<div><h4>Location:</h4> <%= f.text_field :location %></div>
		<div><h4>Best Time to Have a Conversation:</h4> <%= f.text_field :prefered_schedule %></div>
		<div><h4>Catch Phrase:</h4> <%= f.text_field :short_bio, :maxlength => "15" %></div>
		<div style="margin-bottom: 15px;">
			<h4>Age:</h4> 
			<%= f.select :age, (0..100)%>
		</div>
		<h4 style="margin-top:15px;">Tell others about yourself:</h4>
		<div><%= f.text_area :blurb, :style => "width:50%;", :rows => "10" %></div>
		<div style="padding-bottom:3%;"><%= f.submit "Submit", :class => "btn btn-inverse" %></div>
		<% end %>
	</div>
</div>


	

