<div class="transparent-background">
	<div class="body-wrapper">
		
		<div class="row-fluid" style="padding-top:5%;">
			<div class="span6 pull-left">
				<div class="row-fluid">
					<div class="span6">
						<div class="profile-pic">
						<%= image_tag url_for(:action => 'show_image', :id => @user.id)  %>
						</div>
					</div>
					<div class="span6">
						<h1 class="uppercase inline" style="margin-left:0px;"><%= @user.firstName %> <%= @user.lastName %></h1>
                        <div style="padding-top:1%;"><strong>Age: </strong>
							 <strong class="inline"><%= @user.age %></strong>
						</div>
					</div>
				</div>
				<div class="alert alert-success">
					<h4 class="alert-heading">Description:</h4>
						<%= @profile.blurb %>
				</div>
			</div>
			<div class="span6">
				<div class="pull-right">
					<%if params[:id] == nil%>
						<div><h2 id="edit-profile-btn"><a class="btn" href = "<%= edit_profiles_path%>">Edit Profile</a></h2></div>
					<%end%>
					<ul class="nav nav-list">
						<!--<div><strong>Rating:</strong> <%= "%0.2f" % @rank %> / 5</div>-->
						<div class="row-fluid">
							<div class="span6" style="width: 60px;"><strong>Rating: </strong></div>
							<div class="span6"><ul class='star-rating'>
								<!--the width determines how many stars are already highlighted-->
								<li class='current-rating' id='current-rating' style="width: <%= @rank*25 %>px;"></li>
							</ul>
							</div>
						</div>
						<li class="divider"></li>
						<div><strong>Number of Completed Sessions:</strong> <%= @sessions %></div>
						<div><strong>Number of Missed Sessions:</strong> <%= @missed %></div>
						<li class="divider"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>