<%= render :partial => "messages/message", :locals => {:cID => nil}%>

<div class="transparent-background">
	<div class="body-wrapper">
		
		<div class="row-fluid" style="padding-top:5%;">
			<div class="span8 pull-left">
				<div class="row-fluid">
					<div class="span4">
						<div class="profile-pic">
						<%= image_tag @user.picture.url(:medium) %>
						</div>
					</div>
					<div class="span8">
						<h1 class="uppercase inline nunito400" style="margin-left:2%;"><%=@user.fullName %></h1>
						<div style="margin-left:2%;"><i>"<%= @user.short_bio%>"</i></div>
						<br />
						<%if @user.location%>
							<div style="margin-left:2%;"><span class="darkblue">From: </span><%= @user.location %></div>
						<%end%>
						<%if @user.prefered_schedule%>
							<div style="margin-left:2%;"><span class="darkblue">Most Avaliable at: </span><%= @user.prefered_schedule %></div>
						<%end%>
                        <div style="padding-top:1%;margin-left:2%;"><span class="darkblue">Age: </span>
							 <span class="inline"><%= @user.age %>
						</div>
						<div style="padding-top:1%;margin-left:2%;"><span class="darkblue">VidactiPoints: </span>
							 <span class="badge" data-id="<%=@user.id%>" rel="tooltip" title="VidactiPoints"><%= @user.points%></span>
						</div>
					</div>
				</div>
				<div class="alert alert-success">
					<h4 class="alert-heading">Description:</h4>
						<%= @description %>
				</div>
			</div>
			<div class="span4" style="margin-left:0px;">
				<div class="pull-right">
					<div>
					<%if params[:id] == nil%>
						<h2 id="edit-profile-btn"><a class="btn" href = "<%= edit_profiles_path%>">Edit Profile</a></h2>
					<%else%>	
						<h2 id="edit-profile-btn">
							<button class="btn btn-info" data-toggle="modal" data-target="#message-modal" href = "#message-modal">Send <%= @user.firstName%> a message</button>
						</h2>
					<%end%>
					</div>
					<ul class="nav nav-list">
						<div class="row-fluid">
							<div class="span6" style="width: 60px;"><strong>Rating: </strong></div>
							<div class="span6"><ul class='star-rating'>
								<!--the width determines how many stars are already highlighted-->
								<li class='current-rating' id='current-rating' style="width: <%= @rank*25 %>px;"></li>
							</ul>
							</div>
						</div>
						<li class="divider"></li>
						<div><strong>Sessions Completed:</strong> <%= @sessions %></div>
						<div><strong>Sessions Missed:</strong> <%= @missed %></div>
						<li class="divider"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 right-border">
				<h3 class="center nunito700">Conversations Pending</h3>
				<ul class="nav nav-list" style="padding-bottom:50px;">
					<li class="divider" />
					<%@qPending.each do |question|%>
						<li class="questions"><%= question.question%></li>
						<%if question.ask_rank%>
							<li class='current-rating' style="width: <%= question.ask_rank*25 %>px;"></li>
						<%end%>
						<li class="divider" />
					<%end%>
				</ul>
			</div>
			<div class="span6">
				<h3 class="center nunito700">Past Conversations</h3>
				<ul class="nav nav-list" style="padding-bottom:50px;">
					<li class="divider" />
					<%@qPast.each do |question|%>
						<li class="questions"><%= question.question%></li>
						<%if question.rank%>
							<li class='current-rating' style="width: <%= question.rank*25 %>px;"></li>
						<%end%>
						<li class="divider" />
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>