<script type="text/javascript">
	$(document).ready(function(){
		var updateChatroomButton = function()
		{
			$("li.questionElement").each(function(key, value){
				//Given the question
			});
		}
		setInterval(updateChatroomButton, 3000);
	});
</script>

<div class="span6">
	<ul class="nav nav-list">
		<li><h3 class="SmallFont">Confirmed Conversations</h3></li>
		<li class="divider"></li>
		<%@qConfirmed.each do |q|%>
			<li class="questionElement">
				<div><span class="questions"><%=q.question%></span>
				<%if @user.id == q.ask_id%>
					<%id = q.answer_id%>
				<%else%>
					<%id = q.ask_id%>
				<%end%>
				<%user = User.find(id)%>
				with <a class="question-username" href="/profiles?id=<%=id%>"><%=user.nameWithPoints%></a><br />
							
				<%s = Schedule.find(q.schedule_id)%>
				<br />You are scheduled to meet at <span name="timeDiv" ><%=s.appointment.strftime("%B %d, %Y %H:%M:%S UTC")%> </span>
				<%schedule = s.appointment - (5.minutes)%> <!--5 minutes before hand-->
				<div>
				<%future = calculateFutureDateForQuestion(q,s) + (5.minutes)%>
				<%if future.past? && !q.in_session%>
					<%markMissed q%>
					<div class="margin-bottom-5">
						<i>Both you and your conversation partner have missed your conversation...</i>
					</div>
				<%elsif schedule.past?%>
					<form class="margin-bottom-5" action="/tok/EnterSession" method= "get">
						<input type = "hidden" name = "qID" value = "<%= q.id %>" />
						<input type = "hidden" name = "uID" value = "<%= @user.id %>" />
						<input class="btn" type="submit" value="Enter Room For Appointment" />
					</form>	
					<button class="btn disabled enter-chatroom-tooltip">
						Propose Alternate Schedule
					</button>
				<%else%>
					<div class="margin-bottom-5">
						<input class="btn disabled enter-chatroom-tooltip" rel="tooltip" title="Please return 5 minutes prior to scheduled time" type="submit" value="Enter Room For Appointment" />
					</div>
					<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
						Propose Alternate Schedule
					</button>
				<%end%>
				</div>
								
			</li>
			<li class="divider"></li>
		<%end%>
						
	</ul>
</div>