<div class="tab-pane fade" id="past">
	<ul class="nav nav-list">
		<%if @qPrev.length == 0 && @qPrevAnswer.length == 0%>
			No past conversations...
		<%end%>
		<% @qPrev.each do |q| %>
			<li>
				<span class="questions"><%=q.question%></span>
				<%user = User.find(q.answer_id)%>
				<%name = user.fullName%>
				with <a class="question-username" href="/bio?id=<%=q.answer_id%>"><%=name%></a><br />
				<%if @user.hasMissedQuestion?(q)%>
					<b>MISSED CONVERSATION</b><br />
				<%end%>
				<div class="notes-exp">
					<div class="wd-expando notes-collapse">
						<h2>Notes<b class="caret" style="position: relative; top: 17px; left: 6px;"></b></h2>
						<ul>
							<%if !q.notes.nil?%>
								<li><p style="word-wrap:break-word;"><%=q.notes.html_safe%></p></li>
							<%end%>
						</ul>
					</div>
				</div>
				<%if q.reposted == false%>
					<button class="btn" onClick = "location.href='/pages/repost?qID=<%=q.id%>'" >
						Repost Question
					</button>
				<%else%>
					<button class="btn" disabled="disabled">
						Repost Question
					</button>
				<%end%>
				<button class="btn" onClick = "location.href='/conversations/deletePast?qID=<%=q.id%>'" >
					Delete Question
				</button>
			</li>
			<li class="divider"></li>
		<%end%>
	</ul>

	<ul class="nav nav-list">
		<% @qPrevAnswer.each do |q| %>
		<li>
			<span class="questions"><%=q.question%></span>
			<%user = q.asker%>
			<%name = user.fullName%>
			with <a class="question-username" href="/bio?id=<%=q.ask_id%>"><%=name%></a><br>
			<%if @user.hasMissedQuestion?(q)%>
				<b>MISSED CONVERSATION</b><br />
			<%end%>
			<div class="wd-expando notes-collapse">
				<h2>Notes<b class="caret" style="position: relative; top: 17px; left: 6px;"></b></h2>
				<ul>
					<%if !q.answerer_notes.nil?%>
						<li><p style="word-wrap:break-word;"><%=q.answerer_notes.html_safe%></p></li>
					<%end%>
				</ul>
			</div>
			<%if q.reposted == false%>
				<button class="btn" onClick = "location.href='/conversations/repost?qID=<%=q.id%>'" >
					Repost Question
				</button>
			<%else%>
				<button class="btn" disabled="disabled">
					Repost Question
				</button>
			<%end%>
			<button class="btn" onClick = "location.href='/conversations/deletePast?qID=<%=q.id%>'" >
				Delete Question
			</button>
		</li>
		<li class="divider"></li>
		<%end%>
	</ul>
</div>