<script type ="text/javascript">
	function checkForm(formNumber)
	{
		var radios = document.getElementsByName("appointment" + formNumber);
		var value = true;
		for (var i = 0; i < radios.length; i++) {
			if (radios[i].type === 'radio' && radios[i].checked) {
				var hasInnerText = (document.getElementsByTagName("body")[0].innerText != undefined) ? true : false;
				var appointment = radios[i].parentNode.getElementsByTagName("span")[0];
				var date;
				if(!hasInnerText){
					date = new Date(appointment.textContent);
				}else{
					date = new Date(appointment.innerText);
				}
				var today = new Date().getTime();
				if(date < today){
					alert("This time is in the past. Please propose an alternate time");
					return false;
				}else{
					value = false;
					break;
				}
			}
		}

		
		if (value)
		{
			alert("Please select one schedule");
			return false;
		}
		else
		{
			f.submit();
			return true;
		}
	}
</script>

<div class="span6">
	<ul class="nav nav-list right-border">
		<!-- Questions that have been proposed to discuss -->
		<li><h3 class="SmallFont">Pending Conversations</h3></li>
		<li class="divider"></li>
		<%if @length == 0%> 
			No upcoming conversations...
		<%end%>

		<%count = 0%>
		<% @qPendConfirmable.each do |q|%>
			<%count = count + 1%>
			<li>
				<span class="questions"><%=q.question%></span>
				<%if @user.id == q.ask_id%>
					<%id = q.answer_id%>
				<%else%>
					<%id = q.ask_id%>
				<%end%>
				<%user = User.find(id)%>
				with <a class="question-username" href="/profiles?id=<%=id%>"><%=user.fullName %> </a><span class="badge" rel="tooltip" title="VidactaPoints" style="cursor:default;"><%= user.points%></span>
				<br />
				<form class="margin-bottom-5" action="/tok/AcceptSchedule" method= "get" onSubmit="return checkForm(<%=count.to_s%>);">
					<input type = "hidden" name = "qID" value = "<%= q.id %>" />
					<input type = "hidden" name = "count" value = "<%=count.to_s%>">
					<% q.schedules.each do |appointment|%> <!-- Set up form -->
						<div name="wrapper">
							<input type="radio" name="appointment<%=count%>" value="<%=appointment.id%>" />
							<span name="timeDiv"><%=appointment.appointment.strftime("%B %d, %Y %H:%M:%S UTC")%></span>
						</div>
						<br />
					<%end%>
						
					<input class="btn" type="submit" value="Confirm Schedule" />
				</form>
				<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
					Propose Alternate Schedule
				</button>
			</li>
			<li class="divider"></li>
		<%end%>
				
		<% @qPendAnswer.each do |q|%>
			<%count = count + 1%>
			<li>
				<span class="questions"><%=q.question%></span>
				<%if @user.id == q.ask_id%>
					<%id = q.answer_id%>
				<%else%>
					<%id = q.ask_id%>
				<%end%>
				<%user = User.find(id)%>
				with <a class="question-username" href="/profiles?id=<%=id%>"><%=user.fullName %> <%= user.points%></a>
				<br />
				<i>Please wait for a time to be confirmed...</i>
				<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
					Propose Alternate Schedule
				</button>
			</li>
			<li class="divider"></li>
		<%end%>
		
		<% @qPendNoAnswer.each do |q|%>
			<%count = count + 1%>
			<li>
				<span class="questions"><%=q.question%></span>
				<br />
				<i>Please wait for a conversation partner...</i>
			</li>
			<button class="btn" onClick = "location.href='/conversations/delete?qID=<%=q.id%>'" >
				Delete Question
			</button>
			<li class="divider"></li>
		<%end%>
	</ul>
</div>