<script type="text/javascript">
	$(document).ready(function(){ $(".transparent-background").css('min-height',0); });
</script>


<div class="blue-banner">
	<div class="transparent-background" style="background-color:transparent;">
		<div id="home-row" class="row-fluid">
			<div class="span6" style="padding-left:20px;">
				<div class="slider-wrapper theme-default">
					<div class="ribbon"></div>
					<div id="slider" class="nivoSlider">
						<%= image_tag("Animation1.png") %>
						<%= image_tag("Animation2.png") %>
						<%= image_tag("Animation3.png") %>
						<%= image_tag("Animation4.png") %>
						<%= image_tag("Animation5.png") %>
						<%= image_tag("Animation6.png") %>
						<%= image_tag("Animation7.png") %>
					</div>
				</div>
			</div>
			<div class="span6">
				<div id="landingRightContainer" style="padding-left:30px;">
				<div id="lowHeaderPos">
					<div class="nunito700" id="home-header">
						<!--<span class="darkblue">A </span><span class="lightblue">community </span><span class="darkblue">to schedule </span><span class="lightblue">video-chat</span><span class="darkblue"> conversations about topics you are curious or passionate about</span>-->
						<span class="darkblue">A </span><span class="lightblue">community </span><span class="darkblue">for interesting conversations!</span>
					</div>
				</div>
				
				<div class="fb-login-button">
					<%= image_tag("signup-facebook-md.png", :width => "250", :id => "facebook_popup") %>	
					<script>
						var login_funct = function() {
										FB.api('me', function(me) {
											   var data = {'me' : me };
											   $.ajax({
														  url : '/auth/facebook',
														  data : data
														  }); 
											   window.location.reload();
											   });
									
									
											   };
					
						$('#facebook_popup').click(function(e) {
											e.preventDefault();
													   
											FB.login(login_funct);
												   });
					</script>
				</div>
				<div class="modal hide fade" id="register-modal">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h3>Register With Vidactica</h3>
					</div>
					<div class="modal-body">
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well form-horizontal"}) do |f| %>
							<fieldset>
								<div class="control-group">
									<label class="control-label">First Name: </label>
									<div class="controls">
										<%= f.text_field :firstName%>
									</div>
								</div>
							
								<div class="control-group">
									<label class="control-label">Last Name: </label>
									<div class="controls">
										<%= f.text_field :lastName%>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">Email:</label>
									<div class="controls">
										<%= f.email_field :email, :class => "input-xlarge" %>
									</div>
								</div>
							
								<div class="control-group">
									<label class="control-label">Vidactica Password:</label>
									<div class="controls">
										<%= f.password_field :password, :class => "input-xlarge"%>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Re-Enter Password:</label>
									<div class="controls">
										<%= f.password_field :password_confirmation, :class => "input-xlarge" %>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<input class="btn btn-inverse" type="submit" value="Submit"/>	
									</div>
								</div>
							
							</fieldset>
						<%end%>
					</div>
				</div>
				<div id="email-signup">
					<a data-toggle="modal" data-target="#register-modal" href = "#register-modal">
						Don't have a Facebook account? Sign Up with Email instead
					</a>
				</div>
				<div class="modal hide fade" id="regWithVid-modal">
					<div class="modal-body">
						<button class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<a data-toggle="modal" data-target="#regWithVid-modal" href = "#regWithVid-modal" style="display:none;">
					RegWithVid
				</a>
				<!-- <p id="linkToTour" class="pull-left nunito400">
					<a href="/about">Take a look inside Vidactica now &raquo;</a>
				</p> -->
				<%if flash.key?(:email)%> <!-- If this alert needs to be presented to clarify to the user -->
					<script type ="text/javascript">
						$('#regWithVid-modal').modal('show');
					</script>
				<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="transparent-background" style="background-color:transparent;">
	<div id="introLines">
		<p class="darkblue nunito700">Schedule <span class="lightblue">video-chat</span> conversations about topics you are curious or passionate about</p>
	</div>
</div>
<!--<div id="landingPageHorDivider"></div>-->

<div class="row-fluid">
	<div class="span12"><%= render 'layouts/footer' %></div>		   	  		
</div>