<div id="landingPageBlueTop"></div>
<div class="transparent-background">
	<div class="body-wrapper">
		<h2 class="center darkblue nunito700" style="padding-top:2%;">Take a tour inside Vidactica!</h2>
		<ol id="tourList" class="upper-roman">
			<li><a href="#tour-post">Posting your conversation topic</a><b class="caret"></b></li>
			<li><a href="#tour-choose">Browsing and answering other users' topics</a><b class="caret"></b></li>
			<li><a href="#tour-schedule">Scheduling a conversation</a><b class="caret"></b></li>
			<li><a href="#tour-myconversations">Managing your conversations</a><b class="caret"></b></li>
			<li><a href="#tour-vidacticoins">Vidacticoins (coming soon...)</a><b class="caret"></b></li>
		</ol>
		<div id="tourImageList">
			<a name="tour-post"><%= image_tag("Tour-Posting.png") %></a>
			<a name="tour-choose"><%= image_tag("Tour-Choose Post.png") %></a>
			<a name="tour-schedule"><%= image_tag("Tour-Schedule.png") %></a>
			<a name="tour-myconversations"><%= image_tag("Tour-My Conversations.png") %></a>
			<a name="tour-vidacticoins"><%= image_tag("Tour-Vidacticoins.png") %></a>
		</div>
	</div>
</div>