<div class="transparent-background">
	<div class="body-wrapper">
		
		<div class="row-fluid" style="padding-top:5%;">
			<div class="span6 pull-left">
						<div class="profile-pic">
						<%= image_tag url_for(:action => 'show_image', :id => @user.id, :size => "300x200")  %>
						<h1 class="uppercase inline"><%= @user.firstName %> <%= @user.lastName %></h1>
                        <h1 class="uppercase inline">Age: </h1>
						<%if @user.age != 0%>
							 <h1 class="uppercase inline"><%= @user.age %></h1>
                        <%end%>
						</div>
						<div class="alert alert-success">
							<h4 class="alert-heading">Description:</h4>
							<%= @profile.blurb %>
						</div>
			</div>
			<div class="span6">
				<div class="pull-right">
					<%if params[:id] == nil%>
						<div><h2 id="edit-profile-btn"><a class="btn" href = "/pages/editBio">Edit Profile</a></h2></div>
					<%end%>
					<ul class="nav nav-list">
						<div><strong>Rank:</strong> <%= "%0.2f" % @rank %> / 5</div>
						<li class="divider"></li>
						<div><strong>Number of Sessions:</strong> <%= @sessions %></div>
						<li class="divider"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>