<div class="transparent-background">
	<div class="body-wrapper">
	<h1>Edit Profile</h1>
	<% u = User.where({:email => cookies[:email], :password => cookies[:pass]}) %>
	<% u = u[0] %>
	<%profile = u.profile %>

	<h4 style="padding-top:3%;">Profile Picture:</h4>
	<%= form_for :profile, :url => "/pages/submitProfile", :html => { :multipart => true } do |form| %>
		<div><%= form.file_field (:picture) %></div>
		<h4>Tell others about yourself:</h4>
		<div><%= form.text_area :blurb, :value => profile.blurb %></div>
		<div><%= number_field_tag :age, :value => u.age %></div>
		<div><%= submit_tag "Submit", :class => "btn btn-inverse" %></div>
		<% end %>
	</div>
</div>


	

