<h1>Provide Words of Wisdom</h1>

<div class="answer-questions">
	<div class="drop-down">
		Choose a topic in Entrepreneurship:
		<form name="input" action="/pages/getCategory?method=post"" method="post">
			<select name="category">
				<%(0..@categories.length-1).each do |i|%>
					<%if i == @cat-1%>
						<%str = "selected=\"selected\""%>
					<%end%>
					<option value="<%=(i+1).to_s%>" <%=str%>> <%=@categories[i]%> </option>
				<%end%>
			</select>
			<input type="submit" value="Search" />
		</form>

		<div class="questions">
			<br /><p><u><b>Recent Questions:</u></b></p>

			<%if @questions.any? || @cat == 0%>
				<%counter = 0%>
				<%@questions.each do |q|%>
					<%if counter > 5%>
						<%break%>
					<%end%>
					<%if (q.schedules.empty? || q.in_session) && !q.was_answered%>
						<% u = q.user %>
						<% name = u.name %>
						<p><b>User:</b> <%= name %><br />
						<% if q.in_session %>
							<% str = "Answer" %>
						<% else %>
							<% str = "Schedule Appointment" %>
						<% end %>
					
						<%= q.question%> <form action="/tok/GiveChatRoom" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input type = "hidden" name = "askID" value = "<%= u.id %>" /><input type="submit" value=<%=str%> /></form></p>
						<br>
						<%counter = counter + 1%>
					<%end%>
			<%end%>	
		<%end%>
		</div>
	</div>
</div>
