<%if user_signed_in? %>

	<script type ="text/javascript">
		function regWithVidPopup()
		{
			$('#register-modal').modal('hide');
			$('#regWithVidPopup').click();
			return true;
		}
		
		function checkPostForm()
		{
			var question = document.getElementsByName("question")[0];
			if (question.value == "" )
			{
				alert("Please submit a post or question");
				return false;
			}
			if(document.categoryPost.category.value === "nothing")
			{
				alert("Please select a category");
				return false;
			}
			else
			{
				f.submit();
				return true;
			}
		}
	</script>

	<%= render :partial => "questionsAjax"%>
	<%= render :partial => "schedule"%>

	<div class="navbar">
	  	<div class="navbar-inner">		
	    	<div class="container">		
				<span class="brand">Spark a Conversation</span>
				<%= form_tag({:controller => :pages, :action => :submitQuestion}, {:name => "categoryPost", :method => "post", :class => "navbar-search pull-left", :onsubmit => "return checkPostForm();"}) do%>
					<ul>
						<!-- Creates a form to submit a question with a given category -->
						<li class="divider-vertical inline"></li>
						<select name="category" style="width:154px;">
							<option value="nothing">Select a Category</option>
							<%(0..@categories.length-1).each do |i|%>
	  							<option value="<%=(i+1)%>"><%=@categories[i]%></option>
							<%end%>
						</select>				
						<li class="divider-vertical inline"></li>
						<li class="inline"><input type="text" name="question" class="search-query" placeholder="Post a conversation topic"></li>	
						<li class="divider-vertical inline"></li>

						 <!--For entering chat room-->
						<li class="inline" style="position: relative; bottom: 3px;"><input class="btn btn-info" type="submit" name="sType" value="Submit Post" /></li> <!--For just posting-->
					</ul>
				<%end%>
			</div>
		</div>
	</div>
	

		<div class="transparent-background">
		<div class="body-wrapper">
			<center><h1>Browse Interesting Posts</h1></center>
			<div class="row-fluid">
				<div class="span12">
					<div class="tabbable tabs-left">
			  			<ul class="nav nav-tabs">
							<!-- All categories tab -->
							<li class="active"><a href="#tab0" data-toggle="tab">All (<%=Question.unAnswered.length%>)</a></li>
							<!-- Creates the banner on the left for the user to select a category -->
							<%(0..@categories.length-1).each do |i|%>
								<%questions = Question.where("category = ? AND was_answered = ? AND answer_id IS NULL", i+1, false)%>
								<%tabStr = @categories[i] + " (" + questions.length.to_s + ")"%>
			    				<li><a href="#tab<%=i+1%>" data-toggle="tab"><%=tabStr%></a></li>
							<%end%>
			  			</ul>
			  			<div class="tab-content">
						
						<!-- All categories tab -->
						<div class="tab-pane fade in active" id="tab0">
							<ul class="nav nav-list">
								<%questions = Question.unAnswered%>
								
								<%counter = 0%>
								<%if questions.length==0 %>
									<li style="margin-top:10px;">No posts currently. Check back later!</li>
								<%end%>
								<%questions.each do |q|%>
									<% u = q.asker %>
									<% name = u.fullName %>
					    			<li style="margin-top:1%;"><div class="ques" style="font-weight:bold;"><%= q.question%></div>
									<% if q.in_session %> <!--Check if user is waiting -->
										<% str = "Answer" %>
									<% else %>
										<% str = "Schedule Appointment" %>
										<%if u.id != @user.id%>
											<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
												Schedule
											</button> 
										<%else%>
											<button class="btn" disabled="disabled" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
												Schedule
											</button>
										<%end%>
										a conversation with <a class="username" href = "/profiles?id=<%=u.id%>" ><%=u.fullName %> </a><span class="badge" data-id="<%=u.id%>" rel="tooltip" title="VidactiPoints"><%= u.points%></span>
									<%end%>
									<% if current_user.admin?%>
										<%= link_to "Delete",  "/delete?qID=#{q.id}", :class => "btn"%>
									<%end%>
										
									</li>
									<li class="divider"></li>
									<%counter = counter + 1%>
								<%end%>
							</ul>
						</div>
						
						
						<!-- Preloads the all questions for each category -->
						<%(0..@categories.length-1).each do |i|%>
								<div class="tab-pane fade in" id="tab<%=i+1%>">
								<ul class="nav nav-list">
									<!-- Creates the query to the database based on category, if the question was answered, and that nobody has choosen to answer -->
  									<%questions = Question.where("category = ? AND was_answered = ? AND answer_id IS NULL", i+1, false)%>
									<%counter = 0%>
									<%if questions.length==0 %>
										<li style="margin-top:10px;">No posts currently in this category</li>
									<%end%>
									<%questions.each do |q|%>
										<% u = q.asker %>
										<li style="margin-top:1%;"><div class="ques" style="font-weight:bold;"><%= q.question%></div>
											<% if q.in_session %> <!--Check if user is waiting -->
												<% str = "Answer" %>
											<% else %>
												<% str = "Schedule Appointment" %>
												<%if u.id != @user.id%>
													<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
															Schedule
													</button> 
												<%else%>
													<button class="btn" disabled="disabled" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
															Schedule
													</button>
												<%end%>
												a conversation with <a class="username" href = "/profiles?id=<%=u.id%>" ><%=u.fullName %> </a><span class="badge" data-id="<%=u.id%>" rel="tooltip" title="VidactiPoints"><%= u.points%></span>
											<% end %>
											
											</li>
											<li class="divider"></li>
											<%counter = counter + 1%>
									<%end%>	
								</ul>
							</div>
						<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%else%> <!-- If not logged in-->
		<%= render 'landPage' %>
	<%end%>