<%if params["fail"]%> <!-- If this alert needs to be presented to clarify to the user -->
<script type ="text/javascript">
	alert('Invalid email/password combination');
	</script>
<%end%>

<%if params["verify"]%> <!-- If this alert needs to be presented to clarify to the user -->
<script type ="text/javascript">
	alert('Please verify your email');
	</script>
<%end%>

<%if params["efail"]%>
	<script type ="text/javascript">
		alert("Invalid College E-mail Address");
	</script>
<%end%>

<%if params["exist"]%>
	<script type ="text/javascript">
		alert("This email is already being used");
	</script>
<%end%>

<%if params["pfail"]%>
	<script type ="text/javascript">
		alert("Passwords Do Not Match");
	</script>
<%end%>

<script type ="text/javascript">
	function regWithVidPopup()
	{
		$('#register-modal').modal('hide');
		$('#regWithVidPopup').click();
		return true;
	}
</script>

<%if cookies[:name]  %>
	<script>
		function checkPostForm()
		{
			var question = document.getElementsByName("question")[0];
			if (question.value == "" )
			{
				alert("Please submit a post or question");
				return false;
			}
			if(document.categoryPost.category.value === "nothing")
			{
				alert("Please select a category");
				return false;
			}
			else
			{
				f.submit();
				return true;
			}
		}
		
		function checkScheduleForm()
		{
			if (document.getElementsByName("Slot1")[0].value == "" && document.getElementsByName("Slot2")[0].value == "" && document.getElementsByName("Slot3")[0].value == "")
			{
				alert("Please post at least one schedule");
				return false;
			}
			else
			{
				document.getElementById("submitButton").disabled = true;
				document.getElementById("offset").value = ((new Date()).getTimezoneOffset())/60;
				f.submit();
				return true;
			}
		}
		
		function addQID(qID)
		{
			var doc = document.getElementById("qScheduleID");
			doc.value= qID;
		}
		
	</script>

	<div class="modal hide fade" id="schedule-modal">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">&times;</button>
			<h3>Times that work for you:</h3>
		</div>
		<div class="modal-body">
			<form class="well" action="/tok/Schedule" name ="input" method= "GET" onSubmit="return checkScheduleForm();">
			
				<%(1..3).each do |i| %>
			
					<script text="text/javascript">
						$(function() {
						  $( "#<%=i%>" ).datetimepicker({minDate: 0});
						});
					</script>
			
					<input class="search-query" style="cursor: pointer;" id="<%=i%>" name="Slot<%=i%>" type="text" size="25" readonly="readonly" placeholder="Click here to select times..."/>
			
					<p>
				<%end%>
			
				<input type="hidden" id="offset" name="timeOffset" value="" />
				<input type="hidden" id="qScheduleID" name="qID" value="" />
				<input class="btn btn-inverse" type="submit" id= "submitButton" value= "Submit"/>
			</form>	
		</div>
	</div>


	<div class="navbar">
	  	<div class="navbar-inner">		
	    	<div class="container">		
				<span class="brand">Spark a Conversation</span>
				<form name="categoryPost" action="/pages/submitQuestion?method=post" method="post" class="navbar-search pull-left" onSubmit="return checkPostForm();">
					<ul>
						<!-- Creates a form to submit a question with a given category -->
						<li class="divider-vertical inline"></li>
						<select name="category" style="width:154px;">
							<option value="nothing">Select a Category</option>
							<%(0..@categories.length-1).each do |i|%>
	  							<option value="<%=(i+1)%>"><%=@categories[i]%></option>
							<%end%>
						</select>				
						<li class="divider-vertical inline"></li>
						<li class="inline"><input type="text" name="question" class="search-query" placeholder="Post a conversation topic"></li>	
						<li class="divider-vertical inline"></li>
						<!--
						<li class="inline"><input class="btn btn-info" type="submit" name="sType" value="Post and Enter Room" /></li> 
						 -->
						 <!--For entering chat room-->
						<li class="inline" style="position: relative; bottom: 3px;"><input class="btn btn-info" type="submit" name="sType" value="Submit Post" /></li> <!--For just posting-->
					</ul>
				</form>
			</div>
		</div>
	</div>
	

		<div class="transparent-background">
		<div class="body-wrapper">
			<center><h1>Browse Interesting Posts</h1></center>
			<div class="row-fluid">
				<div class="span12">
					<div class="tabbable tabs-left">
			  			<ul class="nav nav-tabs">
							<!-- Creates the banner on the left for the user to select a category -->
							<%(0..@categories.length-1).each do |i|%>
								<%questions = Question.where("category = ? AND was_answered = ? AND answer_id IS NULL", i+1, false)%>
								<%tabStr = @categories[i] + " (" + questions.length.to_s + ")"%>
								<%if i==0 %>
			    					<li class="active"><a href="#tab<%=i%>" data-toggle="tab"><%=tabStr%></a></li>
								<%else%>
			    					<li><a href="#tab<%=i%>" data-toggle="tab"><%=tabStr%></a></li>
								<%end%>
							<%end%>
			  			</ul>
			  			<div class="tab-content">
						<!-- Preloads the top 5 questions for each category -->
						<%(0..@categories.length-1).each do |i|%>
							<%if i == 0%>
								<div class="tab-pane fade in active" id="tab<%=i%>">
							<%else%>
								<div class="tab-pane fade in" id="tab<%=i%>">
							<%end%>
								<ul class="nav nav-list">
									<!-- Creates the query to the database based on category, if the question was answered, and that nobody has choosen to answer -->
  									<%questions = Question.where("category = ? AND was_answered = ? AND answer_id IS NULL", i+1, false)%>
									<%counter = 0%>
									<%if questions.length==0 %>
										<li style="margin-top:10px;">No posts currently in this category</li>
									<%end%>
									<%questions.each do |q|%>
											<% u = q.user %>
											<% name = u.firstName +  " " + u.lastName %>
					    					<li style="margin-top:1%;"><b><%= q.question%></b><br />
											<% if q.in_session %> <!--Check if user is waiting -->
												<% str = "Answer" %>
											<% else %>
												<% str = "Schedule Appointment" %>
												<%if u.id != @user.id%>
													<button class="btn" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
															Schedule
													</button> 
												<%else%>
													<button class="btn" disabled="disabled" data-toggle="modal" data-target="#schedule-modal" href = "#schedule-modal" onClick="addQID(<%=q.id%>)">
															Schedule
													</button>
												<%end%>
												a conversation with <a id="username" href = "/bio?id=<%=u.id%>" ><%= name %></a>
											<% end %>
											
											</li>
											<li class="divider"></li>
											<%counter = counter + 1%>
									<%end%>	
								</ul>
							</div>
						<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%else%> <!-- If not logged in-->
		<%= render 'landPage' %>
	<%end%>