<%if params["sent"].to_i == 1%> <!-- If this alert needs to be presented to clarify to the user -->
	<script type ="text/javascript">
		alert('Your choices were sent');
	</script>
<%end%>

<%if params["email"]%> <!-- If this alert needs to be presented to clarify to the user -->
<script type ="text/javascript">
	alert('An email was sent');
	</script>
<%end%>

<%if cookies[:name]  %>
	<script>
		function checkForm()
		{
			if (document.input.question.value == "" )
			{
				alert("Please submit a post or question");
				return false;
			}
			else
			{
				f.submit();
				return true;
			}
		}
	</script>
	<div class="navbar">
	  	<div class="navbar-inner">		
	    	<div class="container">		
				<span class="brand">Spark a Conversation</span>
				<form name="input" action="/pages/submitQuestion?method=post" method="post" class="navbar-search pull-left" onSubmit="return checkForm();">
					<ul>
						<!-- Creates a form to submit a question with a given category -->
						<li class="divider-vertical inline"></li>
						<li class="inline"><input type="text" name="question" class="search-query" placeholder="Post a topic"></li>		
						<li class="divider-vertical inline"></li>
						<h4 class="inline">Category:</h4>
						<select name="category" style="width:154px;">
							<%(0..@categories.length-1).each do |i|%>
	  							<option value="<%=(i+1)%>"><%=@categories[i]%></option>
							<%end%>
						</select>
						<li class="divider-vertical inline"></li>
						<!--
						<li class="inline"><input class="btn btn-info" type="submit" name="sType" value="Post and Enter Room" /></li> 
						 -->
						 <!--For entering chat room-->
						<li class="inline"><input class="btn btn-info" type="submit" name="sType" value="Submit Post" /></li> <!--For just posting-->
					</ul>
				</form>
			</div>
		</div>
	</div>
	

		<div class="transparent-background">
		<div class="body-wrapper">
			<center><h1>Browse Interesting Posts</h1></center>
			<div class="row-fluid">
				<div class="span12">
					<div class="tabbable tabs-left">
			  			<ul class="nav nav-tabs">
							<!-- Creates the banner on the left for the user to select a category -->
							<%(0..@categories.length-1).each do |i|%>
								<%if i==0 %>
			    					<li class="active"><a href="#tab<%=i%>" data-toggle="tab"><%=@categories[i]%></a></li>
								<%else%>
			    					<li><a href="#tab<%=i%>" data-toggle="tab"><%=@categories[i]%></a></li>
								<%end%>
							<%end%>
			  			</ul>
			  			<div class="tab-content">
						<!-- Preloads the top 5 questions for each category -->
						<%(0..@categories.length-1).each do |i|%>
							<%if i == 0%>
								<div class="tab-pane fade in active" id="tab<%=i%>">
							<%else%>
								<div class="tab-pane fade in" id="tab<%=i%>">
							<%end%>
								<ul class="nav nav-list">
									<!-- Creates the query to the database based on category, if the question was answered, and that nobody has choosen to answer -->
  									<%questions = Question.where("category = ? AND was_answered = ? AND answer_id IS NULL", i+1, false)%>
									<%counter = 0%>
									<%questions.each do |q|%>
										<%if counter > 5%> <!-- Top 5 -->
											<%break%>
										<%end%>
												<% u = q.user %>
												<% name = u.firstName +  " " + u.lastName %>
					    						<li style="margin-top:1%;"><b>User:</b> <a id="username" href = "/bio?id=<%=u.id%>" ><%= name %></a><br />
												<% if q.in_session %> <!--Check if user is waiting -->
													<% str = "Answer" %>
												<% else %>
													<% str = "Schedule Appointment" %>
												<% end %>
											<%= q.question%><form action="/tok/GiveChatRoom" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input type = "hidden" name = "askID" value = "<%= u.id %>" /><input type = "hidden" name = "answer" value = <%= q.in_session %> /><input class="btn" type="submit" value=<%=str%> /></form>
												</li>
												<li class="divider"></li>
												<%counter = counter + 1%>
									<%end%>	
								</ul>
							</div>
						<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%else%> <!-- If not logged in-->
	<div class="transparent-background">
	<div class="body-wrapper">
		<div id="home-row" class="row-fluid">
		<div class="span6">
			<div id="lowHeaderPos">
				<h1>A community for interesting conversations!</h1>
			</div>
			<div id="introLines">
				<p class="SmallFont">Connect with amazing people and have insightful<br /> video-chat conversations about topics you're passionate<br /> about</p>
			</div>
			<div class="modal hide fade" id="facebook-modal">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h3>Register With Facebook</h3>
				</div>
				<div class="modal-body">
					<!-- {'name':'school', 'description':'College',  'type':'text'} IS IF I WANTED THE SCHOOL TYPED-->

					<iframe src="https://www.facebook.com/plugins/registration.php?
			             client_id=258011107615370&
			             redirect_uri=http://vidactica.heroku.com/fb_registration/RegisterUser&
			             fields=[
							{'name':'name', 'view':'prefilled'},
							{'name':'first_name'},
							{'name':'last_name'},
							{'name': 'age'},
							{'name':'email', 'description':'College Email',  'type':'text'},
							{'name':'password'}
							]"
			        scrolling="auto"
			        frameborder="no"
			        style="border:none"
			        allowTransparency="true"
			        width="100%"
			        height="330">
					</iframe> 
				</div>
			</div>
			<div class="fb-login-button">
				<a data-toggle="modal" data-target="#facebook-modal" href = "#facebook-modal">
					<%= image_tag("signup-facebook-md.png", :width => "250") %>
				</a>
			</div>
			<div class="modal hide fade" id="register-modal">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h3>Register With Vidactica</h3>
				</div>
				<div class="modal-body">
					<form class="well form-horizontal" action="SaveUser" method="post">
						<fieldset>
							<div class="control-group">
								<label class="control-label">Full name:</label>
								<div class="controls">
									<input class="input-xlarge" type="text" value= "<%=params["name"]%>" name="name" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Email:</label>
								<div class="controls">
									<input class="input-xlarge" type="text" value= "<%=params["email"]%>" name="email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Vidactica Password:</label>
								<div class="controls">
									<input class="input-xlarge" type="password" name="password" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Re-Enter Password:</label>
								<div class="controls">
									<input class="input-xlarge" type="password" name="passwordAgain" />
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<input class="btn btn-inverse" type="submit" value="Submit" />	
								</div>
							</div>
							
						</fieldset>
					</form>
				</div>
			</div>
			<div id="email-signup">
				<a data-toggle="modal" data-target="#register-modal" href = "#register-modal">
					Don't have a Facebook account? Sign Up with Email instead
				</a>
			</div>
		</div>
		<div class="span6" style="margin-left:0px;">
			<div class="slider-wrapper theme-default">
				<div class="ribbon"></div>
				<div id="slider" class="nivoSlider round">
					<img src="images/Animation1.png" alt="" />
					<img src="images/Animation2.png" alt="" />
					<img src="images/Animation3.png" alt="" />
				</div>
			</div>
		</div>
		</div>
	<div class="border-padding"></div>
	</div>
	</div>
	<div class="row-fluid">
		<div class="span12"><%= render 'layouts/footer' %></div>		   	  		
	</div>
	<%end%>