<%if cookies[:name]  %>

	<div class="navbar">
	  	<div class="navbar-inner">		
	    	<div class="container">
				<span class="brand">Ask For Advice</span>
				<form name="input" action="/pages/submitQuestion?method=post" method="post" class="navbar-search pull-left">
					<ul>
						<li class="divider-vertical inline"></li>
						<li class="inline"><input type="text" name="question" class="search-query" placeholder="Post a question"></li>		
						<li class="divider-vertical inline"></li>
						<h4 class="inline">Select Category:</h4>
						<select name="category">
	  						<option value="1">Tactics for finding Investors</option>
	  						<option value="2">Negotiating with VCs</option>
	  						<option value="3">Venture Capital: To Raise or Not to Raise?</option>
	  						<option value="4">How to Finance a new Venture</option>
						</select>
						<li class="divider-vertical inline"></li>
						<li class="inline"><input class="btn btn-info" type="submit" value="Submit" /></li>
					</ul>
				</form>
			</div>
		</div>
	</div>

	<div class="transparent-background">
		<div class="body-wrapper">
			<center><h1>Provide Words of Wisdom</h1></center>
			<div class="row-fluid">
				<div class="span12">
					<div class="tabbable tabs-left">
			  			<ul class="nav nav-tabs">
							<%(0..@categories.length-1).each do |i|%>
								<%if i==0 %>
			    					<li class="active"><a href="#<%=@categories[i]%>" data-toggle="tab"><%=@categories[i]%></a></li>
								<%end%>
			    				<li><a href="#<%=@categories[i]%>" data-toggle="tab"><%=@categories[i]%></a></li>
							<%end%>
			  			</ul>
			  			<div class="tab-content">
			    			<div class="tab-pane fade in active" id="tab1">
			      				<p>I'm in Section 1.</p>
			    			</div>
			    			<div class="tab-pane fade in" id="tab2">
			      				<p>Howdy, I'm in Section 2.</p>
			    			</div>
			  			</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%else%>
	<div class="transparent-background">
	<div class="body-wrapper">
		<div id="home-row" class="row-fluid">
		<div class="span6">
			<div id="lowHeaderPos">
				<h1>Online advice now has a face and voice!</h1>
			</div>
			<div id="introLines">
				<p class="SmallFont">Have live video chat conversations with<br /> knowledgeable individuals who provide you with<br /> valuable advice.</p>
			</div>
			<div class="modal hide fade" id="facebook-modal">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h3>Register With Facebook</h3>
				</div>
				<div class="modal-body">
					<iframe src="https://www.facebook.com/plugins/registration.php?
			             client_id=258011107615370&
			             redirect_uri=http://vidactica.heroku.com/fb_registration/RegisterUser&
			             fields=name,email,password"
			        scrolling="auto"
			        frameborder="no"
			        style="border:none"
			        allowTransparency="true"
			        width="100%"
			        height="330">
					</iframe>
				</div>
			</div>
			<div class="fb-login-button">
				<a data-toggle="modal" data-target="#facebook-modal" href = "#facebook-modal">
				<%= image_tag("signup-facebook-md.png", :width => "250") %>
				</a>
			</div>
		</div>
		<div class="span6" style="margin-left:0px;">
			<div class="slider-wrapper theme-default">
				<div class="ribbon"></div>
				<div id="slider" class="nivoSlider round">
					<img src="images/Animation1.png" alt="" />
					<img src="images/Animation2.png" alt="" />
					<img src="images/Animation3.png" alt="" />
				</div>
			</div>
		</div>
		</div>
	<div class="border-padding"></div>
	</div>
	</div>
	<div class="row-fluid">
		<div class="span12"><%= render 'layouts/footer' %></div>		   	  		
	</div>
	<%end%>