<%if params["offline"]%>
	<script type ="text/javascript">
		alert("It seems that that user has gone offline");
	</script>
<%end%>

<div class="transparent-background">
	<div class="body-wrapper">
		<div class="wd-expando">
			<h2 class="SmallFont">Upcoming Conversations:<b class="caret caret-myquestions"></b></h2>
			<ul class="nav nav-list">
			<% if @qAsked.empty? %>
				<li class="divider"></li>
			<%end%>
			
			<% @qAsked.each do |q| %>
		
				<li><%=q.question%>
			
				<% if q.schedules.any? && q.schedules[0].user_id != @user.id%>
					<%schedule = nil%>
					<form action="/tok/AcceptSchedule" method= "get">
						<input type = "hidden" name = "qID" value = "<%= q.id %>" />
						<% q.schedules.each do |appointment|%>
							<%if appointment.id == q.schedule_id%>
								<% str = "checked=\"checked\""%>
								<% schedule = appointment%>
							<%else%>
								<%str = ""%>
							<%end%>
							<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
						<%end%>
						<input class="btn" type="submit" value="Schedule" />
					</form>
					
					
					<form action="/tok/ScheduleAppointment" method= "get">
					<input type = "hidden" name = "qID" value = "<%= q.id %>" />
					<input class="btn" type="submit" value="Propose a Schedule" />
					</form>
				<%elsif q.schedules.any? && q.schedules[0].user_id == @user.id%>
					<%schedule = Schedule.new #so that it does not allow to reenter room%>
					<%schedule.appointment = DateTime.now%>
					<%schedule.appointment += 9001%>
					<%if q.schedule_id == -1%>
						<br>No schedule has been confirmed yet...
					<%else%>
						<%s = Schedule.find(q.schedule_id)%>
						<br>You are scheduled to meet at <%=s.appointment%>
					<%end%>
				<%end%>

			<%if schedule == nil%>
					<form action="/tok/ResetQuestion" method= "get">
						<input type = "hidden" name = "qID" value = "<%= q.id %>" />
						<input class="btn" type="submit" value="Re-enter Room" />
					</form>
			<%elsif schedule.appointment.past?%>
					<form action="/tok/ResetQuestion" method= "get">
						<input type = "hidden" name = "qID" value = "<%= q.id %>" />
						<input class="btn" type="submit" value="Time For Appointment" />
					</form>
			<%end%>
					
				</li>
			
				<li class="divider"></li>
			<%end%>
			
			<% @qAnswer.each do |q| %>
			<li><%=q.question%><br />
				<% if q.schedules.any? && q.schedules[0].user_id != @user.id%>
				<%schedule = nil%>
				<form action="/tok/AcceptSchedule" method= "get">
					<input type = "hidden" name = "qID" value = "<%= q.id %>" />
					<% q.schedules.each do |appointment|%>
					<%if appointment.id == q.schedule_id%>
					<% str = "checked=\"checked\""%>
					<% schedule = appointment%>
					<%else%>
					<%str = ""%>
					<%end%>
					<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
						<%end%>
						<input class="btn" type="submit" value="Schedule" />
						</form>
				
				
				<form action="/tok/ScheduleAppointment" method= "get">
					<input type = "hidden" name = "qID" value = "<%= q.id %>" />
					<input class="btn" type="submit" value="Propose a Schedule" />
				</form>
				<%elsif q.schedules.any? && q.schedules[0].user_id == @user.id%>
	
					<%if q.schedule_id == -1%>
						No schedule has been confirmed yet...
					<%else%>
						<%s = Schedule.find(q.schedule_id)%>
						You are scheduled to meet at <%=s.appointment%>
						<%if s.appointment.past? && q.in_session == false%>
							<br>Your conversation partner is not here yet...
						<%end%>
					<%end%>
				
					<%if q.in_session == true%>
						<form action="/tok/GiveChatRoom" method= "get">
							<input type = "hidden" name = "qID" value = "<%= q.id %>" />
							<input type = "hidden" name = "askID" value = "<%= q.user.id %>" />
							<input type = "hidden" name = "ignore" value = "1" />
							<input class="btn" type="submit" value="Your Conversation is Ready" />
						</form>
					<%end%>
				<%end%>
			</li>
			<li class="divider"></li>
			<%end%>
			</ul>
		</div>
	
	<div class="wd-expando">
		<h2 class="SmallFont">Past Conversations:<b class="caret caret-myquestions"></b></h2>
		<ul class="nav nav-list">
			<% @qPrev.each do |q| %>
			<li><%=q.question%><br />
				<div class="notes-exp">
					<div class="wd-expando notes-collapse">
						<h2>Notes</h2>
						<ul>
							<li><%=q.notes%></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="divider"></li>
			<%end%>
		</ul>
		
		<ul class="nav nav-list">
			<% @qPrevAnswer.each do |q| %>
			<li><%=q.question%><br />
				<div class="wd-expando notes-collapse">
					<h2>Notes</h2>
					<ul>
						<li><%=q.answerer_notes%></li>
					</ul>
				</div>
			</li>
			<li class="divider"></li>
			<%end%>
		</ul>
		
	</div>

	
	</div>
</div>
