<div class="transparent-background">
	<div class="body-wrapper">
		<center><h1>Questions Asked:</h1></center>
		<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
<% @qAsked.each do |q| %>
	
	<% if q.schedule_id != -1 %>
		<% date = Schedule.find(q.schedule_id).appointment %>
		<% if date.past? %>
			<b>YOU ARE SCHEDULED TO ANSWER THIS QUESTION </b><br>
		<% end %>
	<% end %>
			
	<li><%=q.question%></li>
	<% if q.schedules.any?%>
		<form action="/tok/AcceptSchedule" method= "get">
		<input type = "hidden" name = "qID" value = "<%= q.id %>" />
		<% q.schedules.each do |appointment|%>
			<%if appointment.id == q.schedule_id%>
				<% str = "checked=\"checked\""%>
			<%else%>
				<%str = ""%>
			<%end%>
			<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> 			<br>
		<%end%>
		<input class="btn" type="submit" value="Schedlue" />
		</form>
	<%end%>
		<form action="/tok/ResetQuestion" method= "get">
		<input type = "hidden" name = "qID" value = "<%= q.id %>" />
		<input class="btn" type="submit" value="Re-enter Room" />
		</form>
	<li class="divider"></li>
<%end%>
	</ul>
	
	
	<button class="btn" data-toggle="collapse" data-target="#ques-sched">
		<h4 class="SmallFont">Questions Scheduled To Answer:</h3>
	</button>
	<div id="ques-sched" class="collapse in">
	<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
<% @qAnswer.each do |q| %>
	<li><%=q.question%></li><form action="/tok/ScheduleAppointment" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input class="btn" type="submit" value="Schedule" /></form>
	<li class="divider"></li>
<%end%>
	</ul>
	</div>
	
	<button class="btn" data-toggle="collapse" data-target="#prev-ques">
		<h4 class="SmallFont">Previously Asked Questions:</h3>
	</button>
	<div id="prev-ques" class="collapse in">
		<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
			<% @qPrev.each do |q| %>
			<li><%=q.question%></li>
			<button class="btn" data-toggle="collapse" data-target="#notes">Notes</button>
			<div id="notes" class="collapse in"><%=q.notes%></div>
			<li class="divider"></li>
			<%end%>
		</ul>
	</div>
	</div>
</div>
