<%if params["offline"]%>
<script type ="text/javascript">
	alert("It seems that that user has gone offline");
	</script>
<%end%>

<%if params["sent"]%>
<script type ="text/javascript">
	alert("Your preference has been saved");
	</script>
<%end%>

<div class="transparent-background">
	<div class="body-wrapper">
		<div class="tabbable" id="myconversations">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Conversations</a></li>
		  		<li><a href="#past" data-toggle="tab">Past Conversations</a></li>
			</ul>
			
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="upcoming">
					<ul class="nav nav-list">
						<!-- Questions that have been proposed to discuss -->
						<li><h3>My Posts</h3></li>
						<%if @qAsked.length == 0 && @qAnswer.length==0%>
						No upcoming conversations...
						<%end%>
						
						<% @qAsked.each do |q| %>
						
							<li><%=q.question%>
							<%if q.answer_id != nil%>
								with <a href="/bio?id=<%=q.answer_id%>"><%=(User.find(q.answer_id)).name%></a><br> 
							<%end%>
							
							<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->

								<%if q.schedule_id == -1%>
								<form action="/tok/AcceptSchedule" method= "get">
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<% q.schedules.each do |appointment|%>
										<input type="radio" name="appointment" value="<%=appointment.id%>" /> <%= appointment.appointment%> <br>
									<%end%>
									<input class="btn" type="submit" value="Schedule" />
									</form>
								<%end%>
							
							
							<form action="/tok/ScheduleAppointment" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<input class="btn" type="submit" value="Propose a Schedule" /><!-- If nothing works -->
							</form>

							<%end%>
							
							<%if q.schedule_id == -1%>
								<br>No schedule has been confirmed yet...
							<%else%>
								<%s = Schedule.find(q.schedule_id)%>
								<br>You are scheduled to meet at <%=s.appointment%>
								<%schedule = s.appointment - (5/1440.0)%>
								<%if schedule.past?%>
									<form action="/tok/ResetQuestion" method= "get">
										<input type = "hidden" name = "qID" value = "<%= q.id %>" />
										<input class="btn" type="submit" value="Re-Enter Room For Appointment" />
									</form>							
								<%end%>	
							<%end%>
							


						</li>
						<li class="divider"></li>
						<%end%>
						
						<!-- Shows questions that have been picked up as opposed to asked -->
						<!--HERE IS WHERE THE DIVIDE OCCURS-->
						<li><h3>Other Posts</h3></li>
						<% @qAnswer.each do |q| %>
						<li><%=q.question%><br />
							with <a href="/bio?id=<%=q.user.id%>"><%=q.user.name%></a><br>
							<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->
							<%schedule = nil%>
							<%if q.schedule_id == -1%>
							<form action="/tok/AcceptSchedule" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<% q.schedules.each do |appointment|%>
								<%if appointment.id == q.schedule_id%>
								<% str = "checked=\"checked\""%>
								<% schedule = appointment%>
								<%else%>
								<%str = ""%>
								<%end%>
								<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
									<%end%>
									<input class="btn" type="submit" value="Schedule" />
									</form>
							<%end%>
							
							<form action="/tok/ScheduleAppointment" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<input class="btn" type="submit" value="Propose a Schedule" />
							</form>
							<%elsif q.schedules.any? && q.schedules[0].user_id == @user.id%> <!-- if i proposed -->
							
							
							<%if q.in_session == true%> <!-- can only enter when the asker enters the chat room -->
							<form action="/tok/GiveChatRoom" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<input type = "hidden" name = "askID" value = "<%= q.user.id %>" />
								<input type = "hidden" name = "ignore" value = "1" />
								<input class="btn" type="submit" value="Your Conversation is Ready" />
							</form>
							<%end%>
							<%end%>
							
							<%if q.schedule_id == -1%>
							No schedule has been confirmed yet...
							<%else%>
							<%s = Schedule.find(q.schedule_id)%>
							You are scheduled to meet at <%=s.appointment%>
							<%if s.appointment.past? && q.in_session == false%>
							<br>Your conversation partner is not here yet...
							<%end%>
							<%end%>
							
							
						</li>
						<li class="divider"></li>
						<%end%>
					</ul>

	</div>
	<div class="tab-pane fade" id="past">
		<ul class="nav nav-list">
					<%if @qPrev.length == 0%>
						No past conversations...
					<%end%>
					<% @qPrev.each do |q| %>
					<li><%=q.question%><br />
						<div class="notes-exp">
							<div class="wd-expando notes-collapse">
								<h2>Notes</h2>
								<ul>
									<li><%=q.notes%></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="divider"></li>
					<%end%>
				</ul>

				<ul class="nav nav-list">
					<% @qPrevAnswer.each do |q| %>
					<li><%=q.question%><br />
						<div class="wd-expando notes-collapse">
							<h2>Notes</h2>
							<ul>
								<li><%=q.answerer_notes%></li>
							</ul>
						</div>
					</li>
					<li class="divider"></li>
					<%end%>
				</ul>
			</div>
		</div>

	</div>
</div>
