<%if params["offline"]%>
<script type ="text/javascript">
	alert("It seems that that user has gone offline");
	</script>
<%end%>

<%if params["sent"]%>
<script type ="text/javascript">
	alert("Your preference has been saved");
	</script>
<%end%>

<div class="transparent-background">
	<div class="body-wrapper">
		<div class="tabbable" id="myconversations">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Conversations</a></li>
		  		<li><a href="#past" data-toggle="tab">Past Conversations</a></li>
			</ul>
			
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="upcoming">
					<div class="row-fluid">
						<div class="span6">
							<ul class="nav nav-list right-border">
							<!-- Questions that have been proposed to discuss -->
							<li><h3 class="SmallFont">Pending Conversations</h3></li>
							<li class="divider"></li>
							<%if @qPending.length == 0 && @qConfirmed.length==0%> 
								No upcoming conversations...
							<%end%>
						
						<% @qPending.each do |q| %>
						
							<li><span class="questions"><%=q.question%></span> <!-- If a pending question, it must have a answerer -->
								<%if q.answer_id != nil%>
									<%user = User.find(q.answer_id)%>
									<%name = user.firstName + " " + user.lastName%>
									with <a class="question-username" href="/bio?id=<%=name%>"><%=name%></a>
								<%end%>
								<br />
							
							<%if q.schedules.any? && q.schedules[0].user_id != @user.id %>
								<form action="/tok/AcceptSchedule" method= "get">
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<% q.schedules.each do |appointment|%> <!-- Set up form -->
										<input type="radio" name="appointment" value="<%=appointment.id%>"/> <%= appointment.appointment.localtime.strftime("%A %B %d %I:%M %p %Z")%> <br />
									<%end%>
									<input class="btn" type="submit" value="Schedule" />
								</form>
							
								<form action="/tok/ScheduleAppointment" method= "get"> <!-- Ability to propose a schedule -->
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<input class="btn" type="submit" value="Propose a Schedule" />
								</form>
							<%else%>
								Waiting for conversation to be scheduled...
							<%end%>	
							</li>
							<li class="divider"></li>
							
						<%end%>
						</ul>
						</div>
						
						
						
						<div class="span6">
							<ul class="nav nav-list">
								<li><h3 class="SmallFont">Confirmed Conversations</h3></li>
								<li class="divider"></li>
						<!-- DIVIDE OCCURS HERE -->
						<%@qConfirmed.each do |q|%>
							<li><span class="questions"><%=q.question%></span>
									<%puts @user.id == q.user_id%>
									<%if @user.id == q.user_id%>
										<%id = q.answer_id%>
									<%else%>
										<%id = q.user_id%>
									<%end%>
									<%user = User.find(id)%>
									<%name = user.firstName + " " + user.lastName%>
									with <a class="question-username" href="/bio?id=<%=id%>"><%=name%></a><br> 
							
							
								<%s = Schedule.find(q.schedule_id)%>
								<br>You are scheduled to meet at <%=s.appointment.localtime.strftime("%A %B %d %I:%M %p %Z")%>
								<%schedule = s.appointment - (5/1440.0)%> <!--5 minutes before hand-->
								<%if schedule.past?%>
									<form action="/tok/ResetQuestion" method= "get">
										<input type = "hidden" name = "qID" value = "<%= q.id %>" />
										<input class="btn" type="submit" value="Enter Room For Appointment" />
									</form>							
								<%end%>	
								
								<form action="/tok/ScheduleAppointment" method= "get"> <!-- Ability to propose a schedule -->
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<input class="btn" type="submit" value="Propose a Schedule" />
								</form>	
							</li>
							<li class="divider"></li>
						<%end%>
						
								
						</ul>
						</div>
					</div>

	</div>
	<div class="tab-pane fade" id="past">
		<ul class="nav nav-list">
					<%if @qPrev.length == 0%>
						No past conversations...
					<%end%>
					<% @qPrev.each do |q| %>
					<span class="questions"><%=q.question%></span>
						<%user = User.find(q.answer_id)%>
						<%name = user.firstName + " " + user.lastName%>
						with <a class="question-username" href="/bio?id=<%=q.answer_id%>"><%=name%></a><br>
					<li><div class="questions"><%=q.question%></div>
						with <a class="question-username" href="/bio?id=<%=q.answer_id%>"><%=(User.find(q.answer_id)).name%></a><br>
						<div class="notes-exp">
							<div class="wd-expando notes-collapse">
								<h2>Notes</h2>
								<ul>
									<li><%=q.notes%></li>
								</ul>
							</div>
						</div>
						<form action="/tok/delete" method= "get">
							<input type = "hidden" name = "qID" value = "<%= q.id %>" />
							<input class="btn" type="submit" value="Delete Question" />
						</form>	
					</li>
					<li class="divider"></li>
					<%end%>
				</ul>

				<ul class="nav nav-list">
					<% @qPrevAnswer.each do |q| %>
					<li><%=q.question%><br />
						<%user = q.user%>
						<%name = user.firstName + " " + user.lastName%>
						with <a href="/bio?id=<%=q.user.id%>"><%=name%></a><br>
						<div class="wd-expando notes-collapse">
							<h2>Notes</h2>
							<ul>
								<li><%=q.answerer_notes%></li>
							</ul>
						</div>
						<form action="/tok/delete" method= "get">
							<input type = "hidden" name = "qID" value = "<%= q.id %>" />
							<input class="btn" type="submit" value="Delete Question" />
						</form>	
					</li>
					<li class="divider"></li>
					<%end%>
				</ul>
			</div>
		</div>

	</div>
</div>
