Questions Asked: <p>
<% @qAsked.each do |q| %>
	
	
	<% if q.schedule_id != -1 %>
		<% date = Schedule.find(q.schedule_id).appointment %>
		<% if date.past? %>
			<b>YOU ARE SCHEDULED TO ANSWER THIS QUESTION </b><br>
		<% end %>
	<% end %>
			
	<%=q.question%>
	<% if q.schedules.any?%>
		<form action="/tok/AcceptSchedule" method= "get">
		<input type = "hidden" name = "qID" value = "<%= q.id %>" />
		<% q.schedules.each do |appointment|%>
			<%if appointment.id == q.schedule_id%>
				<% str = "checked=\"checked\""%>
			<%else%>
				<%str = ""%>
			<%end%>
			<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
		<%end%>
		<input type="submit" value="Schedlue" />
		</form>
	<%end%>
		<form action="/tok/ResetQuestion" method= "get">
		<input type = "hidden" name = "qID" value = "<%= q.id %>" />
		<input type="submit" value="Re-enter Room" />
		</form>
	<br>
<%end%>
<p>
Questions Scheduled To Answer: <p>
<% @qAnswer.each do |q| %>
	<%=q.question%><form action="/tok/ScheduleAppointment" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input type="submit" value="Schedule" /></form>
	<br>
<%end%>


