						<!-- Old Code-->
						<% @qAsked.each do |q| %>
						
							<li><%=q.question%>
							<%if q.answer_id != nil%>
								with <a href="/bio?id=<%=q.answer_id%>"><%=(User.find(q.answer_id)).name%></a><br> 
							<%end%>
							
							<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->

								<%if q.schedule_id == -1%>
								<form action="/tok/AcceptSchedule" method= "get">
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<% q.schedules.each do |appointment|%>
										<input type="radio" name="appointment" value="<%=appointment.id%>" /> <%= appointment.appointment.localtime.to_s%> <br>
									<%end%>
									<input class="btn" type="submit" value="Schedule" />
									</form>
								<%end%>
							
							
							<%end%>
							
							<%if q.schedule_id == -1%>
								<br>No schedule has been confirmed yet...
							<%else%>
								<%s = Schedule.find(q.schedule_id)%>
								<br>You are scheduled to meet at <%=s.appointment.localtime.to_s%>
								<%schedule = s.appointment - (5/1440.0)%>
								<%if schedule.past?%>
									<form action="/tok/ResetQuestion" method= "get">
										<input type = "hidden" name = "qID" value = "<%= q.id %>" />
										<input class="btn" type="submit" value="Enter Room For Appointment" />
									</form>							
								<%end%>	
							<%end%>
							
							
							<%if q.answer_id != nil%>
								<form action="/tok/ScheduleAppointment" method= "get">
									<input type = "hidden" name = "qID" value = "<%= q.id %>" />
									<input class="btn" type="submit" value="Propose a Schedule" /><!-- If nothing works -->
								</form>
							<%end%>

						</li>
						<li class="divider"></li>
						<%end%>
						
						
						
						<!-- Shows questions that have been picked up as opposed to asked -->
						<!--HERE IS WHERE THE DIVIDE OCCURS-->
						<li><h3 class="SmallFont">Schedule Pending Conversations</h3></li>
						<li class="divider"></li>
						<% @qAnswer.each do |q| %>
						<li><%=q.question%><br />
							with <a href="/bio?id=<%=q.user.id%>"><%=q.user.name%></a><br>
							<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->
							<%if q.schedule_id == -1%>
							<form action="/tok/AcceptSchedule" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<% q.schedules.each do |appointment|%>
								<input type="radio" name="appointment" value="<%=appointment.id%>"/> <%= appointment.appointment.localtime.to_s%> <br>
									<%end%>
									<input class="btn" type="submit" value="Schedule" />
									</form>
							<%end%>
							
				
							<%end%>
							
						
							<%if q.schedule_id == -1%>
							No schedule has been confirmed yet...
							<%else%>
							<%s = Schedule.find(q.schedule_id)%>
							You are scheduled to meet at <%=s.appointment.localtime.to_s%>
							<%if s.appointment.past? && q.in_session == false%>
							<br>Your conversation partner is not here yet...
							<%else%><!-- can only enter when the asker enters the chat room -->

							<form action="/tok/GiveChatRoom" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<input type = "hidden" name = "askID" value = "<%= q.user.id %>" />
								<input type = "hidden" name = "ignore" value = "1" />
								<input class="btn" type="submit" value="Your Conversation is Ready" />
							</form>
							<%end%>
							<%end%>
							
							<form action="/tok/ScheduleAppointment" method= "get">
								<input type = "hidden" name = "qID" value = "<%= q.id %>" />
								<input class="btn" type="submit" value="Propose a Schedule" />
							</form>		
							
						</li>
						<li class="divider"></li>
						<%end%>
