<div class="transparent-background">
<div class="body-wrapper">
<h1 class="uppercase">sadf</h1>
<div class="row-fluid" style="margin-top:1%;">
	<div class="span6">
		<div class="pull-left">
			<div class="profile-pic">
				<img src="images/HomePictureOld.png" />
			</div>
			<div class="alert alert-success">
				<h4 class="alert-heading">Description:</h4>
				asdfasdfasdf
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="pull-right">
			<div><h2><a href = "/pages/editBio">Edit Profile</a></h2></div>
			<div><strong>Rank:</strong> 0/ 5</div>
			<div><strong>Number of Sessions:</strong> 0</div>
		</div>
	</div>
</div>
</div>
</div>
------------------------------------------------------------------------------------------------------------------
<button class="btn" data-toggle="collapse" data-target="#ques-sched">
	<h4 class="SmallFont">Questions Scheduled To Answer:</h3>
</button>
<div id="ques-sched" class="collapse in">
<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
	<% if @qAnswer.empty? %>
		<li class="divider"></li>
	<%end%>
<% @qAnswer.each do |q| %>
<li><%=q.question%></li><form action="/tok/ScheduleAppointment" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input class="btn" type="submit" value="Schedule" /></form>
<li class="divider"></li>
<%end%>
</ul>
</div>

<button class="btn" data-toggle="collapse" data-target="#prev-ques">
	<h4 class="SmallFont">Previously Asked Questions:</h4>
</button>
<div id="prev-ques" class="collapse in">
	<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
		<% @qPrev.each do |q| %>
		<li><%=q.question%></li>
		<button class="btn" data-toggle="collapse" data-target="#notes">Notes</button>
		<div id="notes" class="collapse in"><%=q.notes%></div>
		<li class="divider"></li>
		<%end%>
	</ul>
</div>

------------------------------------------------------------------------------------------------------------------

<div class="answer-questions">
	<div class="drop-down">
		<h4>Choose a topic in Entrepreneurship:</h4>
		<form name="input" action="/pages/getCategory?method=post" method="post">
			<select name="category">
				<%(0..@categories.length-1).each do |i|%>
					<%if i == @cat-1%>
						<%str = "selected=\"selected\""%>
					<%end%>
					<option value="<%=(i+1).to_s%>" <%=str%>> <%=@categories[i]%> </option>
				<%end%>
			</select>
			<input class="btn btn-inverse" type="submit" value="Search" />
		</form>

		<div class="questions">
			<h4><u><b>Recent Questions:</u></b></h4>
			<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
			<%if @questions.any? || @cat == 0%>
				<%counter = 0%>
				<%@questions.each do |q|%>
					<%if counter > 5%>
						<%break%>
					<%end%>
					<%if (q.schedules.empty? || q.in_session) && !q.was_answered%>
						<% u = q.user %>
						<% name = u.name %>
						<li style="margin-top:1%;"><b>User:</b> <a id="username" href = "/bio?id=<%=u.id%>" ><%= name %></a><br />
						<% if q.in_session %>
							<% str = "Answer" %>
						<% else %>
							<% str = "Schedule Appointment" %>
						<% end %>
					
						<%= q.question%> <form action="/tok/GiveChatRoom" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input type = "hidden" name = "askID" value = "<%= u.id %>" /><input type = "hidden" name = "answer" value = <%= q.in_session %> /><input class="btn" type="submit" value=<%=str%> /></form>
						</li>
						<li class="divider"></li>
						<%counter = counter + 1%>
					<%end%>
				<%end%>	
			<%end%>
			</ul>
		</div>
	</div>
</div>

-------------------------------------------------------------------------------------------------------------------------------------

<div class="wd-expando">
	<h2 class="SmallFont">Upcoming Conversations:<b class="caret caret-myquestions"></b></h2>
	<ul class="nav nav-list">
	<!-- Questions that have been proposed to discuss -->
	<li><h3>My Posts</h3></li>
	<%if @qAsked.length == 0 && @qAnswer.length==0%>
		No upcoming conversations...
	<%end%>
	
	<% @qAsked.each do |q| %>

		<li><%=q.question%>
	
		<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->
			<%schedule = nil%>
			<form action="/tok/AcceptSchedule" method= "get">
				<input type = "hidden" name = "qID" value = "<%= q.id %>" />
				<% q.schedules.each do |appointment|%>
					<%if appointment.id == q.schedule_id%> <!-- Creates a form to subit choice -->
						<% str = "checked=\"checked\""%>
						<%schedule = appointment%>
						<% schedule.appointment = schedule.appointment - (5/1440.0)%>
					<%else%>
						<%str = ""%>
					<%end%>
					<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
				<%end%>
				<input class="btn" type="submit" value="Schedule" />
			</form>
			
			
			<form action="/tok/ScheduleAppointment" method= "get">
			<input type = "hidden" name = "qID" value = "<%= q.id %>" />
			<input class="btn" type="submit" value="Propose a Schedule" /><!-- If nothing works -->
			</form>
		<%elsif q.schedules.any? && q.schedules[0].user_id == @user.id%> <!-- If I proposed a schedule and am waiting on response -->
			<%schedule = Schedule.new #so that it does not allow to reenter room%>
			<%schedule.appointment = DateTime.now%>
			<%schedule.appointment += 9001%>
			<%if q.schedule_id == -1%>
				<br>No schedule has been confirmed yet...
			<%else%>
				<%s = Schedule.find(q.schedule_id)%>
				<br>You are scheduled to meet at <%=s.appointment%>
			<%end%>
		<%end%>

	<%if schedule == nil%> <!-- Buttons to get into chat room at appropriate time -->
			<form action="/tok/ResetQuestion" method= "get">
				<input type = "hidden" name = "qID" value = "<%= q.id %>" />
				<input class="btn" type="submit" value="Re-enter Room" />
			</form>
	<%elsif schedule.appointment.past?%>
			<form action="/tok/ResetQuestion" method= "get">
				<input type = "hidden" name = "qID" value = "<%= q.id %>" />
				<input class="btn" type="submit" value="Re-Enter Room For Appointment" />
			</form>
	<%end%>	
		</li>
		<li class="divider"></li>
	<%end%>
	
	<!-- Shows questions that have been picked up as opposed to asked -->
	<!--HERE IS WHERE THE DIVIDE OCCURS-->
	<li><h3>Other Posts</h3></li>
	<% @qAnswer.each do |q| %>
	<li><%=q.question%><br />
		<% if q.schedules.any? && q.schedules[0].user_id != @user.id%> <!-- Checks who the proposer of questions was -->
		<%schedule = nil%>
		<form action="/tok/AcceptSchedule" method= "get">
			<input type = "hidden" name = "qID" value = "<%= q.id %>" />
			<% q.schedules.each do |appointment|%>
			<%if appointment.id == q.schedule_id%>
			<% str = "checked=\"checked\""%>
			<% schedule = appointment%>
			<%else%>
			<%str = ""%>
			<%end%>
			<input type="radio" name="appointment" value="<%=appointment.id%>" <%=str%>/> <%= appointment.appointment%> <br>
				<%end%>
				<input class="btn" type="submit" value="Schedule" />
				</form>
		
		
		<form action="/tok/ScheduleAppointment" method= "get">
			<input type = "hidden" name = "qID" value = "<%= q.id %>" />
			<input class="btn" type="submit" value="Propose a Schedule" />
		</form>
		<%elsif q.schedules.any? && q.schedules[0].user_id == @user.id%> <!-- if i proposed -->

			<%if q.schedule_id == -1%>
				No schedule has been confirmed yet...
			<%else%>
				<%s = Schedule.find(q.schedule_id)%>
				You are scheduled to meet at <%=s.appointment%>
				<%if s.appointment.past? && q.in_session == false%>
					<br>Your conversation partner is not here yet...
				<%end%>
			<%end%>
		
			<%if q.in_session == true%> <!-- can only enter when the asker enters the chat room -->
				<form action="/tok/GiveChatRoom" method= "get">
					<input type = "hidden" name = "qID" value = "<%= q.id %>" />
					<input type = "hidden" name = "askID" value = "<%= q.user.id %>" />
					<input type = "hidden" name = "ignore" value = "1" />
					<input class="btn" type="submit" value="Your Conversation is Ready" />
				</form>
			<%end%>
		<%end%>
	</li>
	<li class="divider"></li>
	<%end%>
	</ul>
</div>

<!-- Questions that have been discuessed in the past -->
<div class="wd-expando">
	<h2 class="SmallFont">Past Conversations:<b class="caret caret-myquestions"></b></h2>
	<ul class="nav nav-list">
		<%if @qPrev.length == 0%>
			No past conversations...
		<%end%>
		<% @qPrev.each do |q| %>
			<li><%=q.question%><br />
				<div class="notes-exp">
					<div class="wd-expando notes-collapse">
						<h2>Notes</h2>
						<ul>
							<li><%=q.notes%></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="divider"></li>
		<%end%>
	</ul>

	<ul class="nav nav-list">
	<% @qPrevAnswer.each do |q| %>
	<li><%=q.question%><br />
		<div class="wd-expando notes-collapse">
			<h2>Notes</h2>
			<ul>
				<li><%=q.answerer_notes%></li>
			</ul>
		</div>
	</li>
	<li class="divider"></li>
	<%end%>
</ul>

</div>