<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>

<%= render :partial => "missed_conversation", :locals => {:qID => params["qID"]}%>

<script type="text/javascript">
    var apiKey = '<%= $apiKey %>';
    var sessionId = '<%= @sessionID %>';
    var token = '<%= @token %>';        
	
    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console
	
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.connect(apiKey, token);
	
	var inSession = false;
	var timeout = setTimeout(declareMissed,  /*300000 + <%= secondsBefore(params["qID"]).to_s%>*1000*/0);
    <%name = @q.asker.firstName%>;

	
	window.onbeforeunload = function (){
		jQuery.noConflict();
		
		var notes = document.getElementById("notes").value;
		notes = notes.replace(/\n/g, '<br />');
		var query = "notes=" + notes + "&qID=" + <%=params["qID"]%>;

		if (inSession){
			<%if room == 1%>
			jQuery.ajax({
						type: 'GET',
						url: '/tok/pastQuestion',
						data: query
						});
			<%else%>
			jQuery.ajax({
						type: 'GET',
						url: '/tok/answerPastQuestion',
						data: query
						});
			<%end%>
			return "Hope you enjoyed your conversation";
		}else{
			jQuery.ajax({
				type: 'GET',
				url: '/tok/withoutTimer',
				data: query
			});
			return "Sorry that your partner did not show up.";
		}
	}
	
	
    var publisher;
	
	function onConversation(){
		inSession = true;
		clearTimeout(timeout);
		var leaveButton = document.getElementById("leaveButton");
		leaveButton.setAttribute("data-toggle", "modal");
		leaveButton.setAttribute("data-target", "#rank-modal");
		leaveButton.setAttribute("href", "#rank-modal");
		var aTags = document.getElementsByTagName("a");
		for(var i = 0; i<aTags.length;i++)
		{
			aTags[i].setAttribute("data-toggle", "modal");
			aTags[i].setAttribute("data-target", "#rank-modal");
			aTags[i].setAttribute("href", "#rank-modal");
		}
	}
	
    var stateManager;
    var meSubscriberProps = {width: 430, height: 323, subscribeToAudio: true};
    
    
    function sessionConnectedHandler(event) {
		publisher = session.publish("me", meSubscriberProps);
		subscribeToStreams(event.streams);
        stateManager = session.getStateManager();
        stateManager.addEventListener("changed:chat", chatStateChangedHandler);
    } 
	
	function streamCreatedHandler(event) {
		// Subscribe to any new streams that are created
		subscribeToStreams(event.streams);
    }
	
    var otherSubscriberProps = {width: 430, height: 323, subscribeToAudio: true};
    
    function subscribeToStreams(streams) {
		for (var i = 0; i < streams.length; i++) {
			// Make sure we don't subscribe to ourself
			if (streams[i].connection.connectionId == session.connection.connectionId) {
				continue;
			}
			
			// Subscribe to the stream
			session.subscribe(streams[i], "other", otherSubscriberProps);
			onConversation();
			return;
		}
    }    
</script>

<script language="javascript">
function rate(amnt){
	document.forms["input"].rating.value = amnt;
	document.forms["input"].submit();
	return false;
}
</script>

<script language = "javascript">
    function chatStateChangedHandler(event){
        var new_msg = event.changedValues["chat"];
        if(new_msg != null){
            document.getElementById("messages").value += new_msg;
        }
    }
</script>

<script language = "javascript">
    
    var name = "<%=@user.firstName%> <%=@user.lastName%>";
    
    function checkSubmit(e){
        if(e && e.keyCode == 13){
            if(document.getElementById("message").value != ''){
                var msg = " " + name + ": " + document.getElementById("message").value + "\n";
                    document.getElementById("message").value='';
                    stateManager.set("chat", msg);
            }
            return false;
        }
        return true;
    }
</script>
	
<div id="landingPageBlueTop"></div>
<div class="alert fade in" style="margin-bottom:0px;">
	<button class="close" data-dismiss="alert" type="button">&times;</button>
	Please give your conversation partner up to <strong>5 minutes</strong> to arrive.
</div>
<div class="transparent-background">
    <div class="body-wrapper">
        <%if @user.id == @q.ask_id%>
            <%id = @q.answer_id%>
        <%else%>
            <%id = @q.ask_id%>
        <%end%>
        <%user = User.find(id)%>
        <%name = user.firstName + " " + user.lastName%>
        <h3 class="SmallFont" style="padding-top:10px;">With <a href="/profiles?id=<%=id%>"><%=name%></a>: <%=@q.question%></h3>
        <center>
            <table border = "0" width = "100%">
                <tr><td width = "50%">
                    <div id="other"></div>
                </td><td width = "50%">
                    <div id="me"></div>
                </td></tr>
            </table>
        </center>

        <center>
            <a id="leaveButton" href="/">
                <button class="btn">Leave Session</button> 
            </a>
        </center>
		<div class="row-fluid">
			<div class="span6">
          		<div class="SmallFont center">Notes:</div>
             	<textarea id="notes" ROWS=10></textarea>
			</div>
			<div class="span6">
				<div class="SmallFont center">Chat:</div>
    			<div id="chatWrapper">
        			<textarea disabled = "" id = "messages"></textarea>
        			<form name = "textChat" action = "" method = "post">
            			<input type = "text" onclick = "this.value=''" id = "message" value = "Type your message here and hit enter..." onKeyPress = "return checkSubmit(event)"/>
        			</form>
    			</div>
			</div>
		</div>
    </div>
</div>

<div class="modal hide fade" id="rank-modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Rate Your Conversation Partner</h3>
	</div>
	<div class="modal-body">
		<form name="input" action="/tok/submitRank" method="post">
			<input type="hidden" name = "rating" />
			<ul class='star-rating'>
				<!--the width determines how many stars are already highlighted-->
				<li><a href="#" onclick="return rate(1);" title='Horrible' class='one-star'>1</a></li>
				<li><a href="#" onclick="return rate(2);" title='OK' class='two-stars'>2</a></li>
				<li><a href="#" onclick="return rate(3);" title='Good' class='three-stars'>3</a></li>
				<li><a href="#" onclick="return rate(4);" title='Very Good' class='four-stars'>4</a></li>
				<li><a href="#" onclick="return rate(5);" title='Excellent' class='five-stars'>5</a></li>
			</ul>
			
			<input type="hidden" name = "qID" value=<%=params["qID"]%> />
			<input type="hidden" name = "user" value="<%=room%>"/>
		</form>
	</div>
</div>