  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
 
  <script type="text/javascript">

    var apiKey = '<%= $apiKey %>';
    var sessionId = '<%= @sessionID %>';
    var token = '<%= @token %>';   

	<% puts "Variables" %>
	<% puts $apiKey %>
	<% puts @sessionID %>
	<% puts @token %>        
 
    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console
 
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);       
    session.connect(apiKey, token);
	
	window.onbeforeunload = function (){
		jQuery.noConflict();
	
		var notes = document.getElementById("notes").value;
		notes = notes.replace(/\n/g, '<br />');
		var query = "notes=" + notes + "&qID=" + <%=params["qID"]%>;
		
		jQuery.ajax({
			type: 'GET',
			url: '/tok/answerPastQuestion',
			data: query
			});
			return "Thank You For Answering";
	}
	
	
    var publisher;
 
    function sessionConnectedHandler(event) {
      alert('Connecting');
	publisher = session.publish("answer");
	subscribeToStreams(event.streams);
    } 

   function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }
     
    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          continue;
        }
 
        // Create the div to put the subscriber element in to
        // var div = document.createElement('div');
        // div.setAttribute('id', 'stream' + streams[i].streamId);
        // document.body.appendChild(div);
                           
        // Subscribe to the stream
        session.subscribe(streams[i], "asker");
		var leaveButton = document.getElementById("leaveButton");
		leaveButton.setAttribute("data-toggle", "modal");
		leaveButton.setAttribute("data-target", "#rank-modal");
		leaveButton.setAttribute("href", "#rank-modal");
		var aTags = document.getElementsByTagName("a");
		for(var i = 0; i<aTags.length;i++)
		{
			aTags[i].setAttribute("data-toggle", "modal");
			aTags[i].setAttribute("data-target", "#rank-modal");
			aTags[i].setAttribute("href", "#rank-modal");
		}
	  return;
      }
    }    
  </script>

<div class="modal hide fade" id="rank-modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Rate Your Partner</h3>
	</div>
	<div class="modal-body">
		<form name="input" action="/tok/submitRank" method="post">
			<select name="rank">
				<%(1..5).each do |i|%>
					<option value="<%=(i).to_s%>"> <%=i.to_s%> </option>
				<%end%>
			</select>
			<input type="hidden" name = "qID" value=<%=params["qID"]%> />
			<input type="hidden" name = "user" value="0"/>
			<input class="btn" type="submit" value="Submit" />
		</form>
	</div>
</div>

<%= render '/layouts/chat-room' %>
