<script language="javascript" type="text/javascript" src="/javascripts/datetimepicker.js"></script>

<form action="/tok/Schedule" method= "GET">
<% question = Question.find(params["qID"]) %>
<%schedule = question.schedules %>

<%(1..3).each do|i| %>
	<%unless schedule[i].nil?%>
		<%str= schedule[i]%>
	<%end%>

<input id="<%=i%>" name="<%=i%>" type="text" size="25" readonly="readonly" value="<%=str%>"/><a href="javascript:NewCal('<%=i%>','ddmmmyyyy',true,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>

<p>

<%end%>

<input type="hidden" name="qID" value="<%= params["qID"]%>" />

<input type="submit" value= "Submit"/>
</form>