<%answerName = @answerer.firstName + " " + @answerer.lastName%>
Hi <%=answerName%>,
<br /><br /> 
<%url = "http://vidactica.heroku.com"%>
<%askName = @asker.firstName + " " + @asker.lastName%>
<a href="<%=url+"/bio?id="+@asker.id.to_s%>"><%=askName%></a> has confirmed the following time to vidact about “<%= @question.question %>:”
<br /><br /> 
<%= @appointment.appointment.localtime.strftime("%A %B %d %I:%M %p %Z")%>
<br /><br /> 
You will be able to enter the chatroom through your <a href="<%=url+"/myquestions"%>">‘My Conversations’</a> tab 5 minutes before the scheduled time.
<br /><br /> 
Have fun!
