<%answerName = @answerer.fullName%>
Hi <%=answerName%>,
<br /><br /> 
<%url = "http://vidactica.com"%>
<%askName = @asker.fullName%>
<a href="<%=url+"/profiles?id="+@asker.id.to_s%>"><%=askName%></a> has confirmed the following time to vidact about “<%= @question.question %>:”
<br /><br /> 
<%= @appointment.appointment.localtime.strftime("%A %B %d %I:%M %p %Z")%>
<br />
<b>Please be on time</b>
<br /><br /> 
You will be able to enter the chatroom through your <a href="<%=url+"/conversations"%>">‘My Conversations’</a> tab 5 minutes before the scheduled time.
<br /><br /> 
Have fun!
