<%askName = @asker.firstName + " " + @asker.lastName%>
Hi <%=askName%>, 
<br /><br /> 
<%url = "http://vidactica.heroku.com"%>
<%answerName = @answer.firstName + " " + @answer.lastName%>
<a href="<%=url+"/bio?id="+@answer.id.to_s%>"><%=answerName%></a> wants to vidact with you about “<%@question.question%>” at the following times:
<br /><br /> 
	<%@appointments.each do |appoint|%>
		<%= appoint.appointment%>
		<br>
	<%end%>
<br /><br /> 

Go into your <a href="<%=url+"/myquestions"%>">‘My Conversations’</a> Tab to confirm any of these times or propose different ones. 
	
