<%askName = @asker.fullName%>
Hi <%=askName%>, 
<br /><br /> 
<%url = "http://vidactica.com"%>
<%answerName = @answer.fullName%>
<a href="<%=url+"/bio?id="+@answer.id.to_s%>"><%=answerName%></a> wants to vidact with you about “<%=@question.question%>” at the following times:
<br /><br /> 
	<%@appointments.each do |appoint|%>
		<%= appoint.appointment.localtime.strftime("%A %B %d %I:%M %p %Z")%>
		<br>
	<%end%>
<br /><br /> 

Go into your <a href="<%=url+"/conversations"%>">‘My Conversations’</a> Tab to confirm any of these times or propose different ones. 
	
