Dear <%=@user.name%>,

Please confirm your email address by clicking on this link:

<a href="<%=Rails.root%>/?<%="uID="+@user.id.to_s()%>&<%="verify="+@user.verify%>"><%=Rails.root%>/?<%="uID="+@user.id.to_s()%>&<%="verify="+@user.verify%></a>

Regards,
Vidactica Team