Hi <%=@user.name%>,
<br /><br /> 
Please confirm your email address by clicking on this link:
<%url = "http://vidactica.heroku.com/fb_registration/NewUser/"%>
<br /><br /> 
<a href="<%=url%>?<%="uID="+@user.id.to_s()%>&<%="verify="+@user.verify%>"><%=url%>?<%="uID="+@user.id.to_s()%>&<%="verify="+@user.verify%></a>
<br /><br /> 
--Vidactica Team