<footer>
	<div class="row-fluid">
		<div class="span4">
	    	<h2><%= link_to "Ask For Advice", '/ask' %></h2>
	           <a href="/ask"><%= image_tag("AskForAdvice.png", :alt => "ASK FOR ADVICE", :class => "round", :height => "120px", :width => "230px") %></a>
			<p>Submit a brief description of your questions or doubts</p>
		</div>
		<div class="span4">
	    	<h2><%= link_to "Provide Words of Wisdom", '/give' %></h2>
	           <a href="/ask"><%= image_tag("ProvideWordsOfWisodm.png", :alt => "PROVIDE WORDS OF WISDOM", :class => "round", :height => "120px", :width => "230px") %></a>
			<p>Browse through questions you want to help answer</p>
		</div>
		<div class="span4">
	    	<h2><%= link_to "Schedule Video-Chat Sessions", '/watch' %></h2>
	           <a href="/ask"><%= image_tag("schedule.png", :alt => "WATCH TOP VIDEO SESSIONS", :class => "round", :height => "120px", :width => "230px") %></a>
			<p>Easily find and agree on a time that works for both users</p>
		</div>
	</div>
</footer>