<footer>
	<div class="links">
	<div class="content"><%= link_to "Ask For Advice", '/ask' %></div>
	<div class="hspacer">&nbsp;</div>
	<div class="content"><%= link_to "Provide Words of Wisdom", '/give' %></div>
	<div class="hspacer">&nbsp;</div>
	<div class="rightcontent"><%= link_to "View Top Video Sessions", '/watch'%></div>
	<div class="clear"></div>
	</div>
	
	<br />
	
	<div class="images">
	<div class="content">
	<a href="ask"><%= image_tag("AskForAdvice.png", :alt => "ASK FOR ADVICE", :class => "round", :height => "120px", :width => "230px") %></a>
	</div>
	
	<div class="hspacer">&nbsp;</div>
	
	<div class="content">
	<a href="/give"><%= image_tag("ProvideWordsOfWisodm.png", :alt => "PROVIDE WORDS OF WISDOM", :class => "round", :height => "120px", :width => "230px") %></a>
	</div>
	
	<div class="hspacer">&nbsp;</div>
	
	<div class="rightcontent">
	<a href="/watch"><%= image_tag("ViewTopVideos.png", :alt => "WATCH TOP VIDEO SESSIONS", :class => "round", :height => "120px", :width => "230px") %></a>
	</div>
	
	<div class="clear"></div>
	</div>
	
	<br />
	
	<div class="description">
	<div class="lcontent">Submit a brief description of your questions or doubts</div>
	<div class="hspacer">&nbsp;</div>
	<div class="lcontent">Browse through questions you want to help answer</div>
	<div class="hspacer">&nbsp;</div>
	<div class="lrightcontent">Watch and learn from others questions and advice</div>
	<div class="clear"></div>
	</div>
	
</footer>