<header>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-32981299-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
	<script src="/javascripts/date.format.js" type="text/javascript" >
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=258011107615370";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	<div class="fb-like" data-href="http://vidactica.heroku.com/" data-send="true" data-width="450" data-show-faces="false"></div>
	<div class="body-wrapper">
	<div class="row-fluid">
  		<div class="span4"><a id="vidactica-logo" href="/"><%= image_tag("Vidactica Logo.png", :alt => "Vidactica", :height => "36px", :width => "133px") %></a></div> <!--<h1> Vidactica</h1>-->
  		<div class="span8">
		<ul class="nav pull-right">
			<li class="inline"><a href="/"><%= image_tag("home_icon.png", :alt => "Home", :height => "15px", :width => "14px") %><b class="home-nav">Home</b></a></li>
			<%if cookies[:name]  %>
			<li class="inline">
				<a href="/myquestions"><%= image_tag("conversation_icon_white.png", :alt => "My Conversations", :height => "15px", :width => "14px") %><b class="home-nav">My Conversations</b></a></li>
			<li class="dropdown inline">
				    <a class="dropdown-toggle profile_icon" data-toggle="dropdown" data-target="#" href="/bio"><%= image_tag("profile_icon.png", :alt => "Profile", :height => "13px", :width => "15px") %> <b class="uppercase"><%= cookies[:name] %></b>
				    <b class="caret"></b></a>
				    <ul class="dropdown-menu">
					  <li><a href="/bio">Profile</a></li>
				      <li class="divider"></li>
				      <li><a href= "/fb_registration/Logout">Logout</a></li>
			    	</ul>
			</li>
			
			<%else%>
					<li class="inline">
							<a data-toggle="modal" data-target="#login-modal" href = "#login-modal"><%= image_tag("profile_icon.png", :alt => "LOGIN", :height => "18px", :width => "18px") %><b>Login</b></a>
					</li>
					<div class="modal hide fade" id="login-modal">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h3>Login</h3>
						</div>
						<div class="modal-body">
							<center>
								<form class="well" method="POST" action="/fb_registration/Remember">
									<span id="email-login">E-mail: <input type="text" name="user" size="15" /><br /></span>
									Password: <input type="password" name="pass" size="15" /><br />
									<p><input class="btn btn-inverse" type="submit" value="Login" /></p>
								</form>
								<div class="fb-login-button">
									<a data-toggle="modal" data-target="#facebook-modal" data-dismiss="modal" href = "#facebook-modal">
										<%= image_tag("signup-facebook-md.png", :width => "250") %>
									</a>
								</div>
								<div id="email-signup">
									<a data-toggle="modal" data-target="#register-modal" data-dismiss="modal" href = "#register-modal">
										Don't have a Facebook account? Sign Up with Email instead
									</a>
								</div>
							</center>
						</div>
					</div>
			<%end%>
    	</ul>
  		</div>
	</div>
	</div>
</header>
<%user = User.where({:email => cookies[:email], :password => cookies[:pass]})[0]%>
<%if cookies[:name] && user.new_questions != 0%>
<div class="alert-wrapper">
		<div class="alert alert-block alert-error fade in" style="margin-bottom:0px;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
    		<h4 class="alert-heading">New question(s) confirmed or scheduled</h4>
    		<p>Please check the My Conversations tab</p>
		</div>
</div>
<%end%>

