<header>
	<!-- <script src="/javascripts/date.format.js" type="text/javascript" /> -->
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	
	<div class="fb-like" data-href="http://www.facebook.com/Vidactica" data-send="true" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>	
	<div class="body-wrapper">
	<div class="row-fluid">
		<!--change picture to original logo-->
  		<div class="span4"><a id="vidactica-logo" href="/"><%= image_tag("vidactica logo beta.png", :alt => "Vidactica", :height => "36px", :width => "133px") %></a></div> <!--<h1> Vidactica</h1>-->
  		<div class="span8">
		<ul class="nav pull-right">
			<li class="inline"><a href="/"><%= image_tag("home_icon.png", :alt => "Home", :height => "15px", :width => "14px") %><b class="home-nav">Home</b></a></li>
			<%if user_signed_in?  %>
			<li class="inline">
				<a href="/conversations"><%= image_tag("conversation_icon_white.png", :alt => "My Conversations", :height => "15px", :width => "14px") %><b class="home-nav">My Conversations</b></a></li>
			<li class="dropdown inline">
				    <a class="dropdown-toggle profile_icon" data-toggle="dropdown" data-target="#" href="/profiles"><%= image_tag("profile_icon.png", :alt => "Profile", :height => "13px", :width => "15px") %> <b class="uppercase"><%= current_user.firstName%></b><span class="badge" data-id="<%=current_user.id%>" rel="tooltip" title="VidactaPoints" style="cursor: default; left: 6px;top: 1px;"><%=current_user.points%></span>
				    <b class="caret"></b></a>
				    <ul class="dropdown-menu">
					  <li><a href="/profiles">Profile</a></li>
					  <li><a href="/about">Help</a></li>
				      <li class="divider"></li>
					  <li><%= link_to "Logout", "/logout"%></li>
			    	</ul>
			</li>
			
			<%else%>
					<li class="inline">
							<a data-toggle="modal" data-target="#login-modal" href = "#login-modal"><%= image_tag("profile_icon.png", :alt => "LOGIN", :height => "18px", :width => "18px") %><b>Login</b></a>
					</li>
					<div class="modal hide fade" id="login-modal">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h3>Login</h3>
						</div>
						<div class="modal-body">
							<center>
								<%= form_for(resource, :as => resource_name, :url => user_session_path, :html=>{:class => "well"}) do |f| %>
									<span id="email-login">E-mail: <%= f.text_field :email %><br /></span>
									Password: <%= f.password_field :password %><br />
									<%= f.check_box :remember_me %>
									<%= f.label :remember_me, :class => "inline" %>
									<p><%= f.submit 'Login', :class => 'btn btn-inverse'%></p>
								<%end%>
								<div class="fb-login-button" style="margin-top:0">
									<a data-toggle="modal" data-target="#facebook-modal" data-dismiss="modal" href = "#facebook-modal">
										<%= image_tag("signup-facebook-md.png", :width => "250") %>
									</a>
								</div>
								<div id="email-signup">
									<a data-toggle="modal" data-target="#register-modal" data-dismiss="modal" href = "#register-modal">
										Don't have a Facebook account? Sign Up with Email instead
									</a>
								</div>
							</center>
						</div>
					</div>
			<%end%>
    	</ul>
  		</div>
	</div>
	</div>
	<%= csrf_meta_tag %> 
</header>

<%if !user_signed_in? or (user_signed_in? and @blueBar.nil?) %>
	<div id="landingPageBlueTop"></div>
<%end%>

<% flash.each do |name, msg| %>
	<%if name == :notice || name == :warning || name == :error%>
		<%if msg.is_a?(String)%>
			<div class="alert-wrapper">
					<div class="alert alert-block alert-error fade in" style="margin-bottom:0px;">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
			    		<strong><%=msg%></strong>
					</div>
			</div>
		<%end%>
	<%end%>
<% end %>  

<%user = current_user%>
<%if user_signed_in? && user.new_questions != 0%>
<div class="alert-wrapper">
		<div class="alert alert-block alert-error fade in" style="margin-bottom:0px;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
    		<h4 class="alert-heading">New question(s) confirmed or scheduled</h4>
    		<p>Please check the My Conversations tab</p>
		</div>
</div>
<%end%>
