<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta property="og:title" content="Vidactica | A Community for Interesting Conversations"/>
	<meta name="keywords" content="vidactica, online video, online chat, online advice, advice, chat, video, chatting, online, scheduling, schedule, conversation, politics, entertainment, sports, philosophy, science, business, tutoring, miscellaneous" />
	<meta name="description" content="Video + Didactic - Have insightful video conversations with other intellectuals. Post topics of your choice, choose your conversation partner and schedule times that suit both of you." />
		
	<script type="text/javascript">
			
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32981299-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
			
	</script>
	
  <title><%= @title %></title>
  <%= render 'layouts/stylesheets' %>

	<script type="text/javascript">
		$(document).ready(function() {
			
			jQuery('.dropdown-toggle').dropdown();
			/*jQuery(".collapse").collapse();
			jQuery('#ques-sched').collapse({
			  toggle: truef
			});
			jQuery('#prev-ques').collapse({
			  toggle: true
			});*/
			
		    jQuery('#slider').nivoSlider({
		        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
		        slices: 10, // For slice animations
		        boxCols: 8, // For box animations
		        boxRows: 4, // For box animations
		        animSpeed: 1000, // Slide transition speed
		        pauseTime: 3000, // How long each slide will show
		        startSlide: 0, // Set starting Slide (0 index)
		        directionNav: true, // Next & Prev navigation
		        directionNavHide: true, // Only show on hover
		        controlNav: true, // 1,2,3... navigation
		        controlNavThumbs: true, // Use thumbnails for Control Nav
		        controlNavThumbsFromRel: true, // Use image rel for thumbs
		        keyboardNav: true, // Use left & right arrows
		        pauseOnHover: false, // Stop animation while hovering
		        manualAdvance: false, // Force manual transitions
		        captionOpacity: 0.8, // Universal caption opacity
		        prevText: 'Prev', // Prev directionNav text
		        nextText: 'Next', // Next directionNav text
		        randomStart: false, // Start on a random slide
		    });
		    
			jQuery('#facebook-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#login-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#rank-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#register-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#feedback-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#schedule-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#regWithVid-modal').modal({ keyboard: true, backdrop:true, show:false});
			jQuery('#missed-modal').modal({ keyboard: true, backdrop:true, show:false});
			/*transparent-background height setter*/
			var docH = $(document).height();
			var headerH = $("header").height();
			var footerH = $("#tiny-footer").height();
			$(".transparent-background").css('min-height',docH - headerH - footerH);
			$(".container-fluid").css('min-height',docH - headerH - footerH);
			$(".tabs-left .nav-tabs").css('height',docH - headerH - footerH);
			$(".enter-chatroom-tooltip").tooltip();
			$(".alert").alert();
		});
	</script>
</head>
<body>
	<div class="wrapper">
		<%= render '/layouts/facebook' %>
		<div class="container-fluid">
	      <div class="row-fluid">
				<div class="span12"><%= render 'layouts/header' %></div>
		  </div>
	      <section>
	   			<%= yield %>
    	  </section>
		</div>
		<%= render 'layouts/tiny-footer' %>
	</div>
	<script src="/javascripts/utility.js"></script>
	<script src="/javascripts/expandos-simple.js"></script>
</body>
</html>
